@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
body{margin:0; padding:0; font-family: Helvetica, Arial, sans-serif; font-size:12px; color:#000; }
.wrapper{ margin:0 auto; width:941px; clear:both;}
.sliderwrapper{ margin:0 auto; width:940px; clear:both;}

.header{/* width:100%; */width: inherit; height:52px; /* position:fixed; */ top:0; border-bottom:1px solid #cbcaca; float:left; background:#fff; z-index:99;/* margin-left:161px; */}
.topBorder{width:100%; height:5px; background:#000; float:left;}
.logo{float:left;}
.search{width:320px; height:24px; float:left; border:1px solid #ccc; background:#f1f1f1; margin:10px 0 0 130px;}
.search .searchfield{width:292px; height:24px; border:none; background:none; float:left; padding-left:5px; font-size:11px;}
.search .button{float:left; background:url(../images/search.png); width:23px; height:24px; border:none;}
.cart{float:left; margin:10px 4px 0 85px;}
.cart_new{float:left; margin:10px 0 0 147px;}
.login{float:left; width:72px; text-align:center; font-size:14px; line-height:47px;}
.login a{font-size:14px; color:#000; text-decoration:none; line-height:47px;}
.sign{float:right; margin-top:15px;}
.sign a{font-size:14px; color:#fff; background:#000; border-radius:5px; -moz-border-radius:5px; text-decoration:none; padding:5px 12px;}
.sign_bio_up_buts a{font-size:14px; color:#fff; background:#000; border-radius:5px; -moz-border-radius:5px; text-decoration:none; padding:5px 12px;}

.container{margin:0 auto; width:940px; /* top:52px */; position:relative;}
.banner{float:left; margin-top:20px; }
#slideshow {position:relative; height:360px;}
#slideshow div {position:absolute; top:0; left:0; z-index:8; opacity:0.0; height: 360px;}
#slideshow div.active {z-index:10; opacity:1.0;}
#slideshow div.last-active {z-index:9;}
#index_navs{width:934px; float:left; border-bottom:1px solid #CBCACA; height:44px;}
#index_navs ul{ list-style:none; padding:0;}
#index_navs ul li{display:inline;}
#index_navs ul li a{font-size:15px; color:#000; text-decoration:none; padding:0 19px; font-weight:bold; height:30px; float:left; margin-top:14px; line-height:30px;}
#index_navs ul li a:hover{ background:#e8e8e8;}

.artistCont{width:940px; float:left; margin-top:14px;margin-bottom:14px;}
.artistCont .seperator{width:35px; height:245px; float:left;}
.artistblk{width:160px; float:left; margin-bottom:20px;}
.artistblk .artPic{width:158px; height:158px; border:1px solid #bfbfbf; float:left;}
.artistblk .navButton{width:160px; float:left; margin:8px 0 14px 0;}
.artistblk .navButton .playMedia{float:left; margin-left:1px;}
.artistblk .navButton .playMedia a{width:26px; height:23px; border-radius:3px; -moz-border-radius:3px; background:#333; float:left;}
.artistblk .navButton .playMedia a:hover{ background:#000;}
.artistblk .mediaDetails{width:160px; float:left; font-size:14px; font-weight:bold; line-height:20px;}
.artistblk .mediaDetails .songtitle{font-size:13px; font-weight:normal;}

.popup {position: relative;display: none;z-index: 50; /*background:url(../images/tooltip-bg.png);*/ width:295px; height:173px; top:-166px !important; left:5; border: 0 none;}
.popup .albumDetail{float:left; width:285px; height:110px; border-bottom:1px solid #e0dfdf; margin:5px 5px 0 5px; position:absolute;}
.popup .albumDetail .albumArt{width:70px; height:70px; margin:11px 12px 9px 11px; float:left;}
.popup .albumDetail .description{float:left; font-size:14px; font-weight:bold; color:#313131; line-height:25px; margin-top:10px;}
.popup .albumDetail .description .songDetails{font-size:12px; font-weight:normal;}
.popup .albumDetail .fileType{float:left; font-size:12px; color:#313131; margin:0 0 0 11px; clear:both;}
.popup .view{float:right; margin:5px 15px 0 0; position:absolute; top:115px; right:0px;}
.popup .view a{background:#000; font-size:14px; width:92px; height:26px; line-height:26px; text-align:center; color:#fff; text-decoration:none; float:left;}


/* #footer {
	width: 100%;
	display:block;
	clear: both;
	margin: 0 auto;
	font-size: 11px;
	text-align: center;
	padding-top:15px;
	background-color: #f1f1f1;
	margin-top:50px; float:left;
}
#footer #footerLinksWrapper {
	width:940px;
	height:170px;
	margin:0 auto;
	display:block;
	
	padding:20px 0 0 0;
}
#footerLinksWrapper #footerAboutUs {
	margin-left:35px;
}
#footerLinksWrapper p {
	height:200px;
}
#footerLinksWrapper .footerList {
	margin:0;
	padding:0;
	list-style-type:none;
	width:191px;
	display: block;
	float:left;
	clear:right;
	text-align:left;
}
.footerList .listHeader {
	border-bottom: 1px solid #e3e3e3;
	font-size:21px;
	font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-transform: capitalize;
	color: #000000;
	margin-bottom:6px;
	margin-right: 35px;
	padding-bottom: 3px;
}

#footerHelp {
	width: 140px !important;
}

p#copyright {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 13px;
	color: #626262;
}

.footerList li {
	line-height:22px;
}

.footerList li a:link, .footerList li a:visited {
	color: #626262;
	text-decoration:none; font-size:13px;
} */


/** INNER PAGES **/

/* .leftMenu{width:201px; float:left; margin-top:25px;}
.leftMenu .menuTitle{width:201px; float:left; font-size:20px; font-weight:bold; padding-bottom:20px; border-bottom:1px solid #d5d5d5;} */

#nav *{position:relative;/* peek-a-boo bug fix for IE6 */min-width:0;/* peek-a-boo bug fix for IE7 */}
#nav li{float:left; width:201px; border-bottom:1px solid #d5d5d5; list-style:none;}
#nav a{font-size:14px; color:#000; text-decoration:none; line-height:33px; width:201px; float:left;}
#nav ul{display:none;margin:0; padding:0;zoom:1; list-style:none !important;/*fixes ie6 bug (list will disappear after slideDown)*/}
#nav ul li{	padding-left:0; border-bottom:none;}
#nav ul li a{font-size:14px; color:#000; text-decoration:none; line-height:33px;}
.expand a{font-size:12px; color:#000; text-decoration:none;}

.leftMenu{width:170px; float:left; margin-top:25px;}
.leftMenu .menuTitle{width:170px; float:left; font-size:20px; font-weight:bold; padding-bottom:20px; border-bottom:1px solid #d5d5d5;}


.accordion { list-style-type: none; padding: 0; margin: 0 0 30px; border-top: none; border-left: none; }
.accordion ul { padding: 0; margin: 0; float: left; display: block; width: 100%; }
.accordion li { cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%; border-bottom: 1px solid #d5d5d5;}
.accordion li.active>a { /*background: url('../images/imgOffClosed.gif') no-repeat center right #e8e8e8 ;*/  }
.accordion li div { padding: 20px;  display: block; clear: both; float: left; width: 360px;}
.accordion li a { text-decoration: none; font: 14px Arial, sans-serif; color: #222; padding: 0 10px; display: block; cursor: pointer; line-height:30px;}

.accordion li ul li a { text-decoration: none; font: 14px Arial, sans-serif; color: #222; padding: 0 10px; display: block; cursor: pointer; line-height:30px;}

/* Level 2 */
.accordion li ul li {  font-size: 14px; border-bottom: 1px solid #ededed; }
.accordion li ul li ul li {  font-size: 12px; border-bottom: none; }
.accordion li ul li ul li a { text-decoration: none; font: 14px Arial, sans-serif; color: #222; padding: 0 10px; display: block; cursor: pointer; background:none; line-height:30px;}
.accordion li ul li ul li.active>a { background: #e8e8e8;}

.rightContent{float:right; width:791px; margin-top:25px;}
.contentTitle{width:791px; float:left; font-size:20px; font-weight:bold; padding-bottom:20px;}
.inSearch{width:791px; height:88px; /*background:url(../images/search-bg.png);*/ float:left;}
.inSearch .field{float:left; width:739px; height:39px; background:none; border:none; border-bottom:1px solid #c3c3c3; margin:4px 0 0 7px;}
.inSearch .searchTrigger{float:left; width:40px; height:40px; margin-top:4px; /*background:url(../images/in-search-button.png);*/ border:none;}
.inSearch .advance{float:right; margin-right:15px; font-size:13px; font-weight:bold; color:#000; line-height:40px; cursor:pointer;}
.inSearch .sort{width:63px; height:25px; float:left; margin:5px 0 0 12px; font-size:14px; color:#313131; line-height:25px;}
.inSearch .sortCont{float:left; margin:10px 50px 0 0 ;}
.inSearch .sortCont .radio{float:left; margin-right:5px;}
.inSearch .sortCont .radioTitle{float:left; font-size:14px; color:#313131; margin-right:10px;}
.inSearch .sortDrop{float:left; width:120px; height:30px; border:1px solid #d5d5d5; padding:3px; margin:3px 5px 0 9px;}
.inSearch .city{float:left; width:115px; height:22px; border:1px solid #d5d5d5; padding:3px; margin:3px 5px 0 9px;}
.inSearch .submit{width:67px; height:25px; float:left; background:#000; font-size:14px; color:#fff; line-height:25px; text-align:center; margin:5px 0 0 9px; border:none; border-radius:5px; -moz-border-radius:5px;}
.inSearch .close{float:right; margin:15px 18px 0 0; cursor:pointer;}

.inartistCont{width:791px; float:left; margin-top:15px;}
.inartistCont .seperator{width:50px; height:245px; float:left;}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#080808;
  display:none;
}

#boxes{}
  
#boxes .window {
  position:fixed;
  top:104px;
  left:0;
  width:635px;
  display:none;
  z-index:9999;
  background:#fff;
  padding-bottom:15px;
  -webkit-box-shadow: 0px 0px 8px #000;
  
}

#boxes #dialog1 {
  width:400px; 
}

.window .wrap{width:301px; margin:25px auto;}
.window .wrap .popLogo{width:301px; margin-bottom:30px; text-align:center;}
.window .wrap .fieldCont{width:301px; height:32px; margin-bottom:18px;}
.window .wrap .chkfieldCont{width:301px; height:50px; margin-bottom:18px;}
.window .wrap .fieldCont .fieldTitle{float:left; width:61px; padding-right:12px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#231f20; line-height:32px; text-align:right;}
.window .wrap .fieldCont .textfield{float:left; width:218px; height:30px; border:1px solid #cfcfcf; background:none; padding-left:5px;}
.window .wrap .chekCont{width:167px; height:25px; float:left; margin-left:73px;}
.window .wrap .chekCont .chk{float:left; margin:5px 8px 0 0;}
.window .wrap .chekCont .chkTitle{float:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#231f20; line-height:25px;}
.window .wrap .submit{width:58px; height:25px; background:#231f20; float:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#fff; text-align:center; line-height:25px; border:none; border-radius:5px; -moz-border-radius:5px;}
.window .wrap .forgot_new{float:right; margin-top:10px;}
.window .wrap .forgot_new a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231f20; text-decoration: underline;}
.window .wrap .forgot_new a:hover{text-decoration:none;}

.fbLoginCont{width:301px; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; margin:10px 0; padding:10px 0; float:left;}
.fbLoginCont .lable{float:left; width:64px; margin-right:13px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#231f20; line-height:32px; text-align:right;}
.fbLoginCont .fbButton{float:left;}

.window .wrap .popsign{width:301px; margin:0 auto; margin-top:30px;}
.window .wrap .popsign .signTitle{width:301px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#231f20; font-weight:bold;}
.window .wrap .popsign .signButton{width:173px; height:25px; background:#231f20; text-align:center; border-radius:5px; -moz-border-radius:5px; margin:10px auto;}
.window .wrap .popsign .signButton a{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; line-height:25px; text-decoration:none;}

.regiCont{width:1001px; float:left; margin-top:25px;}
.regiCont .regiL{width:473px; float:left;}
.regiCont .regiL .join_purify{padding:7px 24px;}
.regiCont .regiL .welcome_upload{padding:7px 24px;}
.regiCont .regiL a{background: none repeat scroll 0 0 #515151; border-radius: 5px 5px 5px 5px; color: #FFFFFF; font-size: 14px; padding: 5px 12px; text-decoration: none;}
.regiCont .regiL .regivideo{float:left; width:473px; height:245px;}
.regiCont .regiL .welcome{float:left; width:433px; padding:24px 19px; background:none; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#313131; line-height:22px;}
.regiCont .regiL .signs{float:left; width:433px; padding:0px 19px; background:none; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#313131; line-height:7px;margin-bottom: 60px;}
.regiCont .regiL .welcome a{color:#313131; font-weight:bold; text-decoration:none;}
.regiCont .regiL .welcome a:hover{text-decoration:underline;}

.regiCont .regiR{width:481px; float:right; margin-bottom:30px;}
.regiCont .regiR .title_right{padding:7px; color: #AFAFAF;}
.regiCont .regiR .welcome{float:left; width:449px; padding:4px 4px; background:none; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#313131; line-height:22px;margin-top:15px;}
.regiCont .regiR .regiTitle{width:471px; height:39px; background:#e5e5e5; font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; color:#313131; padding-left:10px; line-height:39px; float:left;}
.regiCont .regiR .regifieldCont{width:481px; float:left; margin-top:25px;}
.regiCont .regiR .regifieldCont .regifieldTitle{width:161px; height:32px; padding-left:10px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#231f20; float:left; line-height:32px;}
.regiCont .regiR .regifieldCont .regitextfield{float:left; width:303px; height:30px; border:1px solid #cfcfcf; background:none; padding-left:5px; float:left;}
.regiCont .regiR .regifieldCont .regidrop{float:left; width:309px; height:34px; border:1px solid #cfcfcf; background:none; padding:5px; float:left;}
.regiCont .regiR .regifieldCont .chekCont{float:left; margin-top:8px;}
.regiCont .regiR .regifieldCont .chekCont .chk{float:left; margin:6px 10px 0 10px;}
.regiCont .regiR .regifieldCont .chekCont .chkTitle{float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231f20; line-height:25px; width:314px;}
.regiCont .regiR .regifieldCont .chekCont .hint{float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231f20; line-height:23px; width: auto;}
.regiCont .regiR .regifieldCont .chekCont .hint a{color:#231f20;}
.regiCont .regiR .regifieldCont .chekCont .skip{float:left; width:350px; text-align:right;}
.regiCont .regiR .regifieldCont .chekCont .skip a{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#231f20; line-height:25px; }
.regiCont .regiR .regifieldCont .join{float:right; width:116px; height:40px; background:#000; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:20px; color:#fff; border:none; border-radius:5px; -moz-border-radius:5px;}
.add_margin_bottom{margin-bottom:20px;clear: both;}

/*** ABOUT US STYLE ***/

.inCont{width:740px; float:none; margin:0 auto;}
.pagetititle{float:left; width:740px; text-align:center; font-size:40px; color:#333333; font-weight:bold; line-height:35px; margin-top:5px;}
.pagetititle .subtitle{font-size:15px; font-weight:normal;}

.video{width:656px; margin:32px 0 0 50px; height:376px; float:left;}

.inBlk{width:740px; float:left; margin-top:55px;}
.inBlk .topborder{width:275px; float:left; margin-top:12px; border-top:1px solid #999; height:1px;}
.inBlk .blkTitle{width:188px; float:left; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:22px; color:#333; text-align:center;}
.inBlk .blkcont{width:740px; float:left; line-height:23px; font-size:14px; color:#333; margin-top:20px;}
.inBlk .blkcont .timline{margin:30px 0 0 0;}
.inBlk .servcont{width:740px; float:left; line-height:23px; font-size:14px; color:#333; margin-top:20px; border-bottom:1px solid #999;}
.inBlk .servcont .icon{width:740px; text-align:center; margin-top:30px; margin-bottom:23px;}
.inBlk .servcont .intitle{width:740px; text-align:center; font-size:17px; font-weight:bold; color:#333; margin-bottom:23px;}
.inBlk .servcont p{float:left; width:740px; margin-bottom:30px; line-height:28px;}
.inBlk .servcont p a{color:#333;}
.inBlk .servcont p a:hover{text-decoration:none;}
.inBlk .servcont .subtitle{width:740px; float:left; font-size:16px; font-weight:bold; margin-bottom:8px;}

.inBlk .servcont_last{width:740px; float:left; line-height:23px; font-size:14px; color:#333; margin-top:20px; }
.inBlk .servcont_last .icon{width:740px; text-align:center; margin-top:30px; margin-bottom:23px;}
.inBlk .servcont_last .intitle{width:740px; text-align:center; font-size:17px; font-weight:bold; color:#333; margin-bottom:23px;}
.inBlk .servcont_last p{float:left; width:740px; margin-bottom:30px; line-height:28px;}
.inBlk .servcont_last p a{color:#333;}
.inBlk .servcont_last p a:hover{text-decoration:none;}
.inBlk .servcont_last .subtitle{width:740px; float:left; font-size:16px; font-weight:bold; margin-bottom:8px;}


/*** PRICING STYLE ***/
.priceCont{width:940px; float:none; margin:0 auto;}
.pricetititle{float:left; width:940px; text-align:center; font-size:23px; color:#333333; font-weight:bold; line-height:35px; margin-top:5px;}
.pricetititle .subtitle{font-size:16px; font-weight:normal;}

.topblk{float:left; width:299px;}
.topblk .titleCont{float:left; width:299px; height:53px; background:#e6e6e6; margin-top:37px; margin-bottom:16px;}
.topblk .titleCont .icon{float:left; margin:13px 18px 0 11px;}
.topblk .titleCont .title{float:left; font-size:16px; color:#333; font-weight:bold; margin-top:18px;}
.topblk .blkCont{width:299px; float:left;}
.topblk .blkCont p{width:299px; float:left; font-size:13px; color:#333; margin-bottom:23px; line-height:20px;}
.topblk .blkCont p img{margin-bottom: 2px; margin-right: 6px;}

.divider{float:left; width:20px; height:200px;}

.pricetable{width:940px; float:left; margin-top:58px;  margin-bottom:40px;}
.pricetable .titlrow{float:left; width:940px; height:70px;}
.pricetable .titlrow .colA{float:left; width:222px;}
.pricetable .titlrow .colB{float:left; width:123px; margin-right:1px; height:65px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83868b), to(#4b4c4e)); background: -moz-linear-gradient(top, #83868b, #4b4c4e); background: -ms-linear-gradient(top, #83868b, #4b4c4e); border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; -o-border-radius: 5px 0 0 0; -ms-border-radius: 5px 0 0 0; text-align:center; font-size:12px; font-weight:bold; color:#fff; text-transform:uppercase; line-height:29px; padding-top:5px;}
.pricetable .titlrow .sub{font-size:21px;}
.pricetable .titlrow .colC{float:left; width:122px; margin-right:1px; height:65px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83868b), to(#4b4c4e)); background: -moz-linear-gradient(top, #83868b, #4b4c4e); background: -ms-linear-gradient(top, #83868b, #4b4c4e); text-align:center; font-size:12px; font-weight:bold; color:#fff; text-transform:uppercase; line-height:29px; padding-top:5px;}
.pricetable .titlrow .colD{float:left; width:138px; margin-right:1px; height:65px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83868b), to(#4b4c4e)); background: -moz-linear-gradient(top, #83868b, #4b4c4e); background: -ms-linear-gradient(top, #83868b, #4b4c4e); text-align:center; font-size:12px; font-weight:bold; color:#fff; text-transform:uppercase; line-height:29px; padding-top:5px;}
.pricetable .titlrow .colE{float:left; width:144px; margin-right:1px; height:65px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83868b), to(#4b4c4e)); background: -moz-linear-gradient(top, #83868b, #4b4c4e); background: -ms-linear-gradient(top, #83868b, #4b4c4e); text-align:center; font-size:12px; font-weight:bold; color:#fff; text-transform:uppercase; line-height:29px; padding-top:5px;}
.pricetable .titlrow .colF{float:left; width:187px; height:65px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83868b), to(#4b4c4e)); background: -moz-linear-gradient(top, #83868b, #4b4c4e); background: -ms-linear-gradient(top, #83868b, #4b4c4e); border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; -o-border-radius: 0 5px 0 0; -ms-border-radius: 0 5px 0 0; text-align:center; font-size:12px; font-weight:bold; color:#fff; text-transform:uppercase; line-height:29px; padding-top:5px;}

.pricetable .tablerow{float:left; width:940px; height:41px; background:#eaeaea;}
.pricetable .tablerow .circle{width:13px; height:13px; background:#797979; border-radius:20px; margin:13px auto;}
.pricetable .tablerow .colA{float:left; width:215px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#333; line-height:41px; padding-left:7px; font-weight:bold;}
.pricetable .tablerow .colB{float:left; width:123px; height:41px; border-right:1px solid #e8e8e8; background:#e0e0e0; text-align:center;}
.pricetable .tablerow .colC{float:left; width:122px; height:41px; border-right:1px solid #e8e8e8; background:#e0e0e0; text-align:center;}
.pricetable .tablerow .colD{float:left; width:138px; height:41px; border-right:1px solid #e8e8e8; background:#e0e0e0; text-align:center;}
.pricetable .tablerow .colE{float:left; width:144px; height:41px; border-right:1px solid #e8e8e8; background:#e0e0e0; text-align:center;}
.pricetable .tablerow .colF{float:left; width:187px; height:41px; background:#e0e0e0; text-align:center;}

.pricetable .tablerowB{float:left; width:940px; height:41px;}
.pricetable .tablerowB .circle{width:13px; height:13px; background:#797979; border-radius:20px; margin:13px auto;}
.pricetable .tablerowB .colA{float:left; width:215px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#333; line-height:41px; padding-left:7px; font-weight:bold;}
.pricetable .tablerowB .colB{float:left; width:123px; height:41px; border-right:1px solid #fefefe; background:#f4f4f4; text-align:center;}
.pricetable .tablerowB .colC{float:left; width:122px; height:41px; border-right:1px solid #fefefe; background:#f4f4f4; text-align:center;}
.pricetable .tablerowB .colD{float:left; width:138px; height:41px; border-right:1px solid #fefefe; background:#f4f4f4; text-align:center;}
.pricetable .tablerowB .colE{float:left; width:144px; height:41px; border-right:1px solid #fefefe; background:#f4f4f4; text-align:center;}
.pricetable .tablerowB .colF{float:left; width:187px; height:41px; background:#f4f4f4; text-align:center;}