﻿body {
	margin: 0px 15px;
	bgcolor: #FFFFFF;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
	margin: 0px;
}

img {
	border: 0;
	float: inherit;
}

form {
	margin: 0px;
	padding: 0px;
	color: 
}

#outerContainer {
	width: 940px;
	margin: 0 auto;
	background: #FFFFFF;
	overflow: hidden;
}

#purifyMasthead {
	width: 940px;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
	border-top: 5px solid #1f1c1d;
	height: 60px;
}

#purifyLogo {
	float: left;
	border: 0;
}

#toplevelNav {
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #cbcaca;
	background-color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 13px;
}

#toplevelNav ul {
	margin: 0px;
	padding: 0px;
}

#toplevelNav ul li {
	display: inline;
	margin: 0px 12px 0px 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#toplevelNav ul li a {
	color: #1F1C1D;
}

#toplevelNav ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

.active {
	color: #cacaca !important;
}

#miscNav {
	width: 520px;
	float: right;
	text-align: right;
	position: relative;
}

/* login
----------------------------------------------- */

#loginBox {
	position: absolute;
	width: 420px;
	left: 120px;
	top: -5px;
	font-size: 11px;
	text-align: left;
	/*background-color: #00FF00;*/
}

.loginField {
	width: 125px;
	margin: 0px;
	padding: 1px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

#loggedin {
	position: absolute;
	width: 350px;
	height: 50px;
	left: 100px;
	top: 5px;
	font-size: 11px;
	text-align: right;
	padding-right: 70px;
/*	background: url(../images/mini_pic.gif) no-repeat right top; */
}

#loggedin h2 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 4px 0px;
	line-height: normal;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#loggedin p {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	line-height: normal;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

/* misc nav
----------------------------------------------- */

#miscNav ul {
	margin: 0px;
	padding: 0px;
}

#miscNav ul li {
	margin: 0px;
	list-style: none;
}

#miscNav ul li a {
	color: #1F1C1D;
}

#miscNav ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

/* content
----------------------------------------------- */

#contentContainer {
	width: 940px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	position: relative;
}

/* subnavigation
----------------------------------------------- */

#subNavigation {
	width: 185px;
	padding: 25px;
	margin-right: 40px;
	float: left;
	background-color: #EDEDED;
}

#subNavigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#subNavigation ul li {
	font-size: 14px;
	margin-top: 4px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}

#subNavigation ul li a {
	color: #000000;
}

#subNavigation ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

#actualContent {
	width: 665px;
	float: right;
}

#sectionTitle {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 23px;
	text-transform: capitalize;
	color: #000000;
	margin-bottom: 12px;
	margin-top: -3px;
	padding-bottom: 12px;
}

#unregistered {
	width: 200px;
	position: absolute;
	left: 740px;
	top: 20px;
	padding: 10px 10px 10px 6px;
	background-color: #ededed;
	color: #626262 !important;
}

#unregistered2 {
	width: 200px;
	position: absolute;
	left: 740px;
	top: 20px;
	padding: 10px 10px 10px 6px;
	background-color: #ededed;
	color: #626262 !important;
}

/* front page
----------------------------------------------- */

#frontPage {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
}

#homeRightColumn {
	width: 570px;
	float: right;
}

#homeLeftColumn {
	width: 350px;
	float: left;
}

.clearMe {
	clear: both;
}

#homeQuote {
	background-color: #ededed;
	padding: 20px;
	margin-top: 20px;
}

#homeQuote h2 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

#homeQuote h3 {
	font-size: 12px;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#homeQuote h4 {
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #626262;
}

.greyLink {
	color: #626262;
}

#homeQuote p {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #000000;
}

#front_page_news {
	background-color: #ededed;
	padding: 20px 20px 20px 20px;
	margin-top: 20px;
}

#front_page_news h2 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

#front_page_news h3 {
	line-height: normal;
	font-size: 14px;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#front_page_news h4 {
	line-height: normal;
	font-size: 9px;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#front_page_news h5 {
	line-height: normal;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	text-align: right;
}


#front_page_news p {
	font-size: 11px;
	margin: 0px 0px 15px;
	padding: 0px;
	color: #626262;
	line-height: 17px;
}

#promoBox {
	margin-bottom: 20px;
}

#featureHead {
	margin-bottom: 10px;
}

#area-separator {
	width:100%;
	float:left;	
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
	border-bottom: 1px #C5C5C5 solid;
}

#quote-box {
	width:100%;
	float:left;
	margin-bottom:5px;
}

#quote-line {
	width:100%;
	float:left;	
	text-align:left;
	margin-bottom:5px;
}

#quote-separator {
	width:100%;
	width:100%;
	float:left;	
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	border-bottom: 1px #C5C5C5 dashed;
}

/* featured
----------------------------------------------- */

#featuredHeads h1 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

.featuredItemStack {
	width: 570px;
	clear: both;
}

.featuredItemStackMid {
	width: 665px;
	clear: both;
}

.featuredItem {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
}


.featuredItemLeft {
	width: 270px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: left;
}

.featuredItemRight {
	width: 270px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: right;
}

.featuredItemLeftMid {
	width: 310px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: left;
}

.featuredItemRightMid {
	width: 310px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: right;
}

.featuredContent {
	width: 140px;
	float: left;
}

.featuredContentMid {
	width: 190px;
	float: left;
}

.featuredContentWide {
	width: 540px;
	float: left;
}

.featuredContentWideLeft {
	width: 140px;
	float: left;
}

.featuredContentExtraWideLeft {
	width: 740px;
	float: left;
}

.featuredContentWideRight {
	width: 380px;
	float: right;
}

.featuredPhoto {
	float: right;
}

.featuredButton {
	float: right;
	vertical-align:baseline;
}

.featuredPhoto img {
	border: 1px solid #cbcaca;
}

.featuredContent h2, .featuredContentWide h2, .featuredContentMid h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #000000;
	margin-bottom: 2px;
	margin-top: 0px;
	padding: 0px;
}

.featuredContent h3, .featuredContentWide h3, .featuredContentMid h3 {
	font-size: 18px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.featuredContent p, .featuredContentWide p, .featuredContentMid p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #A3A2A2;
	margin: 0px 0px 0px 0px;
	text-align: left;
}


/* base
----------------------------------------------- */

blockquote {
	margin-right: 0;
	margin-left: 20px;
}

h1, h2, h3 {
	font-weight: normal;
}

h1, h2 {
	font-family: Georgia, Times, serif;
}

h1 {
	font-size: 28px;
	margin: 0px;
	padding: 0px 0px 20px 0px;
}

h2 {
	font-size: 20px;
	font-style: italic;
}

h3 {
	font-size: 20px;
	margin: 0px;
	padding: 0px 0px 17px 0px;
}

.withLine {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
}

h4 {
	font-size: 18px;
	line-height: 22px;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	color: #000000;
	font-weight: normal;
	font-family: Georgia, Times, serif;
}

h5 {
	font-size: 14px;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px 0px 17px 0px;
}

ul {
	margin: 0px;
	padding: 0px 0px 17px 25px;
}

li {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px;
	padding: 0px;
}

b {
	color: #000000;
}

#biglist ul {
	margin: 0px;
	padding: 0px 0px 17px 25px;
	color: #000000;
}

#biglist li {
	font-size: 16px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* form fields
----------------------------------------------- */

.regularField {
	width: 400px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

.regularField2 {
	width: 130px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

.pulldownField {
	width: 400px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}

.hint {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 10px;
}

.hintGray {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ABABAB;
	padding-left: 5px;
}

.hintp
{
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A3A2A2;
}

.hintGreen {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	padding-left: 10px;
}

.hintRed {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	padding-left: 10px;
}

.hintWhite {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	padding-left: 10px;
}

/* links
----------------------------------------------- */

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

/* next/back
----------------------------------------------- */

.nextBack {
	padding-top: 10px;
	text-align: center;
}

.nextBack a, .nextBack a:link {
padding: 6px 15px 6px 15px;
color: #2d2d2f;
width: 100px;
text-align: left;
font-size: 13px;
background-color: #cbcaca;
border: none !important;
margin-bottom: 15px !important;
margin-right: 15px;
font-weight: bold;
}

.nextBack a:hover {
color: #FFF;
background-color: #000;
border: none !important;
text-decoration: none;
}

/* footer
----------------------------------------------- */

#preFoot {
	width: 920px;
	margin: 0 auto;
	height: 20px;
}

#footer {
	width: 920px;
	padding: 10px;
	clear: both;
	margin: 0 auto;
	font-size: 11px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	text-align: center;
	border-top: 1px solid #cbcaca;
	border-bottom: 1px solid #cbcaca;
	margin-bottom: 20px;
}
#homemission {
	background-color: #ededed;
	padding: 20px;
	color: #626262;
}
#homemission p {
	margin: 0px; padding: 0px;
	color: #626262;
}


.registerMid {
	margin-right: 12px; 
	width: 170px;
	float: left;
}
.registerMid p {
	font-size: 13px;
	margin: 0px 0px 10px 0px;
}
.registerMid h3 {
	font-size: 20px;
	margin: 0px 0px 15px 0px;
	padding: 0px;
}
.player{
position:relative;
top:4px;
}