/*body, * {
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size: 12px;
        margin: 0 0 0 0;
        overflow-x:hidden;
        overflow-y:hidden;
}

a {
	cursor: pointer;
}

img {
	border: 0;
}

#wrapper {
	width: 1024px;
	height: 320px;
        background-image: url('BG_bk.png');
        width:571px;
        height:719px;

}

#controls {
    float:right;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:10px;
    margin-right:18px;
    margin-top:10px;
    width:100px;
}

#controls2 {
    color:white;
    float:right;
    margin-top:6px;
    padding:6px;
    width:180px;
}

#playlist {
height:116px;
overflow-y:scroll;
width:536px;
}

#playlist table {
	width: 100%;
}



.playlistitem
{
background-image:url(bg.png);
height:14px;
margin-top:5px;
padding-bottom:3px;
padding-left:13px;
padding-top:1px;
width:505px;
}
.playlistitem a
{
    display:block;
    float:left;
    height:19px;
    width:18px;
    background-repeat: no-repeat;
    color:white;
    <!--
        height:10px;
    -->
}
.playlistitem .song
{
display:block;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
margin-right:8px;
padding-left:8px;
width:auto;
}
.playlistitem .user
{
display:block;
float:left;
width:100px;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding-left:8px;
font-size:10px;
color:lightyellow;
}
.playlistitem .user:hover
{
    color:lightblue;
}
.playlistitem .up
{
    
    background-image:url(arrow_up.png);
    width:11px;
}
.playlistitem .up:hover
{
    background-image:url(arrow_up_hover.png);
}
.playlistitem .down
{
    width:11px;
    background-image:url(arrow_down.png);
}
.playlistitem .down:hover
{
    
    background-image:url(arrow_down_hover.png);
}
.playlistitem .download
{
    background-image:url(download.png);
float:right;
}
.playlistitem .delete
{
    background-image:url(delete.png);
float:right;
}
.playlist_active {
    background-image:url(bg1.png);
    color:black;
    width:505px;
}
.playlist_active  a{
    
    color:white;
}

#player {
height:450px;
margin:0px 0 5px 15px;
width:540px;
}

#playerwrapper {
padding-top: 10px;
}
#playlistbg
{
background-image:url(playlist_bg.png);
height:158px;
margin-left:15px;
width:542px;
}
.audiovideo
{
    color:white;
    float:right;
    margin-right:8px;
}*/


        body, * {
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size: 12px;
        margin: 0 0 0 0;
        overflow-x:hidden;
        overflow-y:hidden;
}

a {
	cursor: pointer;
}

img {
	border: 0;
}

#wrapper {
	width: 1024px;
	height: 320px;
        background-image: url('BG_bk.png');
        width:571px;
        height:719px;

}

#controls {
    float:right;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:10px;
    margin-right:18px;
    margin-top:10px;
    width:100px;
}

#controls2 {
    color:white;
    float:right;
    margin-top:6px;
    padding:6px;
    width:180px;
}

#playlist {
height:116px;
overflow-y:scroll;
width:536px;
}

#playlist table {
	width: 100%;
}



.playlistitem
{
background-image:url(bg.png);
height:14px;
margin-top:5px;
padding-bottom:3px;
padding-left:13px;
padding-top:1px;
width:505px;
}
.playlistitem a
{
    display:block;
    float:left;
    height:19px;
    width:18px;
    background-repeat: no-repeat;
    color:white;
    <!--
        height:10px;
    -->
}
.playlistitem .song
{
display:block;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
margin-right:8px;
padding-left:8px;
width:auto;
}
.playlistitem .user
{
display:block;
float:left;
width:91px;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding-left:8px;
font-size:10px;
color:lightyellow;
}
.playlistitem .user:hover
{
    color:lightblue;
}
.playlistitem .up
{

    background-image:url(arrow_up.png);
    width:11px;
}
.playlistitem .up:hover
{
    background-image:url(arrow_up_hover.png);
}
.playlistitem .down
{
    width:11px;
    background-image:url(arrow_down.png);
}
.playlistitem .down:hover
{

    background-image:url(arrow_down_hover.png);
}
.playlistitem .download
{
    background-image:url(download.png);
float:right;
}
.playlistitem .delete
{
    background-image:url(delete.png);
float:right;
}
.playlist_active {
    background-image:url(bg1.png);
    color:black;
    width:505px;
}
.playlist_active  a{

    color:white;
}

#player {
height:450px;
margin:0px 0 5px 15px;
width:540px;
}

#playerwrapper {
padding-top: 10px;
}
#playlistbg
{
background-image:url(playlist_bg.png);
height:158px;
margin-left:15px;
width:542px;
}
.audiovideo
{
    color:white;
    float:right;
    margin-right:8px;
}