
h1 {
  font-style: italic;
  border-bottom: 1px dotted #000;
  padding: 20px 0;
}

div.player_wall{
	width:100%;
	height:410px;
	background-color:#000;
}

#listFiles{
	width:550px;
}

#listFiles .titleCont{width:100%; background:#e0e0e0; height:30px; float:left;}
#listFiles .titleCont .blkA{width:50px; float:left; font-size:14px; color:#000; line-height:29px; text-align:center; border-right:1px solid #ccc;}
#listFiles .titleCont .blkB{width:325px; float:left; font-size:14px; color:#000; line-height:29px; margin-left:5px; border-right:1px solid #ccc;}
#listFiles .titleCont .blkC{width:50px; float:left; font-size:14px; color:#000; line-height:29px; text-align:center; border-right:1px solid #ccc;}
#listFiles .titleCont .blkD{width:60px; float:left; font-size:14px; color:#000; line-height:29px; text-align:center;}
#listFiles .titleCont .blkE{width:150px; float:left; font-size:12px; color:#000; line-height:29px;text-align:center;}
#listFiles .titleCont .blkF{width:138px; float:left; font-size:12px; color:#000; line-height:29px;text-align:center;}
#listFiles .titleCont .blkG{width:80px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}


#listFiles .tableCont{width:100%; min-height:30px; float:left; border-bottom:1px dotted #e0e0e0; position:relative;}
#listFiles .tableCont .blkA{width:50px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center; border-right:1px solid #e0e0e0;}
#listFiles .tableCont .blkB{width:325px; float:left; font-size:12px; color:#000; line-height:29px; margin-left:5px; border-right:1px solid #e0e0e0; }
#listFiles .tableCont .blkC{width:50px; float:left; font-size:12px; color:#000; line-height:29px;  text-align:center; border-right:1px solid #e0e0e0;}
#listFiles .tableCont .blkD{width:60px; float:left;font-size:12px; color:#000; line-height:29px; text-align:center; cursor:pointer;}
#listFiles .tableCont .blkD a{width:60px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center; text-decoration:none;}
#listFiles .tableCont .blkD a:hover{text-decoration:underline;}
#listFiles .tableCont .blkE{width:150px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}
#listFiles .tableCont .blkF{width:138px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}
#listFiles .tableCont .blkG{width:80px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}

#listFiles .tableCont div.audio_pause{width:28px; height:28px; background-image:url('img/play-pause.png'); background-position:0px 28px; margin:0 auto;}
#listFiles .tableCont div.audio_play{width:28px; height:28px; background-image:url('img/play-pause.png'); background-position:28px 54px; margin:0 auto;}
