
h1 {
  font-style: italic;
  border-bottom: 1px dotted #000;
  padding: 20px 0;
}

div.player_wall{
	width:100%;
	height:382px;
	background-color:#000;
}

#shuffleDiv{
	float:right;
	height:26px;
	width:26px;
	position:absolute;
	right:0;
	background-color:#000;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
#listFiles{
	width:100%;
	overflow-y:auto;
	height:167px;
	height:172px\9;
	float:left;
	background-color:darkgrey;
}

#playerControls { width:100%; float:left;background-image:url("/img/controls-bg.png"); background-color:black;}
#playlistView{width:100%; float:left;}
#listFiles .titleCont{width:100%; background:#5d5d5d; height:30px; float:left;font-weight:bold;}
#listFiles .titleCont .blkA{width:35px; float:left; font-size:14px; color:#fff; line-height:29px; text-align:center; border-right:1px solid #ccc;}
#listFiles .titleCont .blkB{width:155px; float:left; font-size:14px; color:#fff; line-height:29px; margin-left:5px; border-right:1px solid #ccc;font-weight:bold;}
#listFiles .titleCont .blkC{width:55px; float:left; font-size:14px; color:#fff; line-height:29px; text-align:center; border-right:1px solid #ccc;}
#listFiles .titleCont .blkD{width:70px; float:left; font-size:14px; color:#fff; line-height:29px; text-align:center; border-right:1px solid #ccc;}
#listFiles .titleCont .blkE{width:70px; float:left; font-size:12px; color:#fff; line-height:29px;text-align:center; border-right:1px solid #ccc;}
#listFiles .titleCont .blkF{width:80px; float:left; font-size:12px; color:#fff; line-height:29px;text-align:center;}
#listFiles .titleCont .blkG{width:80px; float:left; font-size:12px; color:#fff; line-height:29px; text-align:center;}


#listFiles .tableCont{width:100%; min-height:30px; float:left; border-bottom:1px dotted #e0e0e0; position:relative; font-family:'Ubuntu', geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:10px;}
#listFiles .currSelected {background-color:grey;}
#listFiles .currSelected  .blkB  a{color:white !important;text-decoration:none;}
#listFiles .currSelected  .blkC {color:white !important;}
#listFiles .currSelected  .blkD {color:white !important;}
#listFiles .currSelected  .blkE {color:white !important;}
#listFiles .currSelected  .blkC a{color:white !important;}
#listFiles .currSelected  .blkD a{color:white !important;}
#listFiles .currSelected  .blkE a{color:white !important;}
#listFiles .tableCont .blkA{width:35px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center; }
#listFiles .tableCont .blkB{width:196px; float:left; font-size:12px; color:#000 !important; line-height:29px; margin-left:12px; font-weight:bold;}
#listFiles .tableCont .blkB a{width:190px; float:left; font-size:12px; color:#000 ; line-height:29px;  font-weight:bold;text-decoration:none; }
#listFiles .tableCont .blkC{width:36px; float:left; font-size:12px; color:#000; line-height:29px;  text-align:center;}
#listFiles .tableCont .blkD{width:113px; float:left;font-size:12px; color:#000; line-height:29px; height:29px; text-align:left; overflow:hidden;}
#listFiles .tableCont .blkD a{width:60px; float:left; font-size:12px; color:#000; line-height:29px; text-align:left; text-decoration:none;}
#listFiles .tableCont .blkD a:hover{text-decoration:underline;}
#listFiles .tableCont .blkE{width:114px; float:left; font-size:12px; color:#000; line-height:29px; height:29px; text-align:center; overflow:hidden;}
#listFiles .tableCont .blkE a{width:60px; float:left; font-size:12px; color:#000; line-height:29px; text-align:left; text-decoration:none;}
#listFiles .tableCont .blkE a:hover{text-decoration:underline;}
#listFiles .tableCont .blkF{width:80px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}
#listFiles .tableCont .blkG{width:80px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}

#listFiles .tableCont div.audio_pause{width:28px; height:28px; background-image:url('/combinePlayer/sc-player-minimal/img/play-pause.png'); background-position:0px 28px; margin:0 auto;}
#listFiles .tableCont div.audio_play{width:28px; height:28px; background-image:url('/combinePlayer/sc-player-minimal/img/play-pause.png'); background-position:28px 54px; margin:0 auto;}

/*#listFiles .tableCont .blkB a{text-decoration:none;color:black;}*/
.player_sprite { background-image:url('/combinePlayer/sc-player-minimal/img/playercontrols.png'); height:28px; float:left; margin:0 0 2px 10px; cursor:pointer;}
.play_btn{ width:28px; height:28px; background-position: 0px 28px; }
.pause_btn{ width:28px; height:28px; background-position: 0px 0px; }
.prev_btn{ width:28px; height:28px; background-position: -30px 28px; }
.next_btn{ width:28px; height:28px; background-position: 87px 0px; }
.shuffle_btn{ width:28px; height:28px; background-position: 57px 28px; }
.player_sprite_active { background-image:url('/combinePlayer/sc-player-minimal/img/playercontrols-hover.png'); height:28px; float:left; margin:0 0 2px 10px; cursor:pointer;}
.shuffle_btn_active{ width:28px; height:28px; background-position: 57px 28px; }
.clearlist_btn{ width:28px; height:28px; background-position: 28px 0px; }
.repeat_btn{ width:28px; height:28px; background-position: 57px 0px; }
.repeat_btn_active{ width:28px; height:28px; background-position: 57px 0px; }
.closeSong{	width:15px; height:15px; background-image:url('/combinePlayer/sc-player-minimal/img/delete.png'); position:relative;top:7px; }

/*.MoveIcons{background-image:url('./img/wrkicons.jpeg'); height:28px; float:left; margin:6px 0 2px 10px; cursor:pointer;}*/
.MoveupSong{ background-image:url('/combinePlayer/sc-player-minimal/img/arrow_up.png');width:10px; height:14px; background-position: 98px -42px;position:relative;top:8px;left:7px; }
.MoveDownSong{ background-image:url('/combinePlayer/sc-player-minimal/img/arrow_down.png');width:10px; height:14px; background-position: -77px -125px;position:relative;top:7px;left:5px; }
.DownloadImage{ background-image:url('/combinePlayer/sc-player-minimal/img/download.png');width:15px; height:15px; background-position: 0px;position:relative;top:7px; }
.DownloadImage_cart{ background-image:url('/combinePlayer/sc-player-minimal/img/download_cart.png');width:15px; height:14px; background-position: 0px;position:relative;top:7px; }

.sc-volume-slider {
  background-color: #e5e5e5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}


.sc-volume-slider .sc-volume-status{
  background-color: #666;
  border-right: 1px solid #003399;
}

/* volume control */
.sc-volume-slider {
  top: -14px;
  left: 0px;
  position: absolute;
  width: 110px;
  height: 9px;
  background-color: white;
}
.sc-volume-slider .sc-volume-status{
  position: absolute;
  width: 0%;
  height: 7px;
  top: 1px;
  left: 1px;
}

.setFullScreenControls{	position: absolute; width: 100%; background-color: #000; bottom: 0px; opacity:0.4; }