@import url(//fonts.googleapis.com/css?family=Josefin+Sans+Std+Light);
.gallery-wrapper{width:100%;visibility:hidden;position:absolute;top:0;left:0;}
#toolbar{position:fixed; z-index:3; right:10px; top:10px; padding:5px; background:url(/galleryfiles/fs_img_g_bg.png);}
#toolbar img{border:none; border:1px solid #fff;}
#img_title{
/*	position:fixed;
	z-index:3;
	left:10px;
	top:10px;*/
	padding:5px;
	/*background:url(/galleryfiles/fs_img_g_bg.png);
	color:#FFF;*/
	font-family:'Josefin Sans Std Light', arial, serif; 
	font-size:16px;
	text-transform:uppercase;
}
#bg{position:fixed; z-index:1; overflow:hidden; width:100%; height:100%; background:#000;}
#bgimg{display:none; -ms-interpolation-mode: bicubic;}
#preloader{position:relative; z-index:3; width:32px; padding:20px; margin:auto; background:#000;float:left;}
#thumbnails_wrapper{z-index:2; position:fixed; bottom:0; width:100%; background:url(/galleryfiles/empty.gif); /* stupid ie needs a background value to understand hover area */}
#outer_container{position:relative; padding:0; width:100%; margin:40px auto;}
#outer_container .thumbScroller{position:relative; overflow:hidden; background:url(/galleryfiles/fs_img_g_bg.png);}
#outer_container .thumbScroller, #outer_container .thumbScroller .container, #outer_container .thumbScroller .content{height:170px;}
#outer_container .thumbScroller .container{position:relative; left:0;}
#outer_container .thumbScroller .content{float:left;}
#outer_container .thumbScroller .content div{margin:5px; height:100%;}
#outer_container .thumbScroller img{border:5px solid #fff;}
#outer_container .thumbScroller .content div a{display:block; padding:5px;}

.nextImageBtn, .prevImageBtn{display:block; position:absolute; width:50px; height:50px; top:50%; margin:-25px 10px 0 10px; z-index:3; filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity:0.4; opacity:0.4;}
.nextImageBtn:hover,.prevImageBtn:hover{filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}
.nextImageBtn{right:0; background:#000 url(/galleryfiles/nextImgBtn.png) center center no-repeat;}
.prevImageBtn{background:#000 url(/galleryfiles/prevImgBtn.png) center center no-repeat;}
.serachbox {width:186px; position:absolute;margin-left:10px;display:none; background:white; overflow-x:hidden; overflow-y:auto; height:150px; top:208px; zIndex:9; border:1px solid lightgrey;}
.suggessionbox{
background: none repeat scroll 0 0 white;
    border: 1px solid lightgrey;
    display: none;
    height: 96px;
    margin-left: 115px;
    position: absolute;
    top: 480px;
    width: 206px;
	/*overflow-x:hidden;*/
	overflow:auto;
}
.namesuggessionbox{
background: none repeat scroll 0 0 white;
    border: 1px solid lightgrey;
    display: none;
    height: 96px;
    margin-left: 115px;
    position: absolute;
    top: 425px;
    width: 206px;
	/*overflow-x:hidden;*/
	overflow:auto;
}
body {
    font-size: 75%;
}
body, input, textarea {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
}
body {
}
html, body, h1, h2, h3, h4, h5, h6, div, span, blockquote, p, address, form, fieldset, img, ul, ol, dl, dt, dd, li, hr, table, td, th, strong, em, sup, sub, dfn, ins, del, q, cite, var, samp, code, kbd, tt, pre {
    line-height: 1.5em;
}
body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body {
    color: #000000;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
body {
    /*font-family: 'Ubuntu',geneva,'Trebuchet MS',Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 15px;*/
}
body {
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    line-height: 1;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    /*font-family: inherit;*/
    /*font-size: 100%;*/
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
* {
    margin: 0;
    padding: 0;
}
html, body, h1, h2, h3, h4, h5, h6, div, span, blockquote, p, address, form, fieldset, img, ul, ol, dl, dt, dd, li, hr, table, td, th, strong, em, sup, sub, dfn, ins, del, q, cite, var, samp, code, kbd, tt, pre {
    line-height: 1.5em;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    /*font-family: inherit;
    font-size: 100%;*/
    font-style: inherit;
    font-weight: inherit;
}
.gallery_pop_text {
    float: left;
    width: 226px;
}

.gallery_pop_radio {
    float: right;
    width: 200px;
}

.image_radio_pop {
    float: right;
    width: 200px;
}
.gallery_pop_radio {
    float: right;
    margin: 10px 0;
    position: relative;
}

.whole_pop_content {
    background-color: #FFFFFF;
    border-radius: 6px;
    float: left;
    padding: 20px;
	width:550px;
}
.image_block_pop {
    border-bottom: 2px dotted #808080;
    float: left;
    margin-bottom: 20px;
    width: 547px;
}

.add_imagre_whole_content {
    background-color: #FFFFFF;
    border-radius: 6px;
    float: left;
    padding: 20px;
}
#imgUploadDiv{margin-bottom:20px;}