.sc-player {
  font: 12px Arial, sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 2.5em;
  font-weight: bold;
  
}

.sc-player.special {
  border: 2px solid #ff3300;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 5px;
}

.sc-player a {
  text-decoration: none;
  color: #333;
}

/* scrubber */

.sc-scrubber {
  background-color: #e5e5e5;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.sc-scrubber .sc-time-span {
  background-color: #fff;
}

.sc-scrubber .sc-time-span img {
  height: 28px;
  width: 100%;
  background-color: #000;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #fff;
  opacity: 0.4;
}

.sc-scrubber .sc-played {
  background-color: #000;
  opacity: 0.4;
}

/* controls */

.sc-player .sc-controls a {
  color: transparent;
  background: url('/combinePlayer/sc-player-minimal/img/play.png');
}

.sc-player .sc-controls a:hover {
  background: url('/combinePlayer/sc-player-minimal/img/play-hover.png');
}

.sc-player .sc-controls a.sc-pause {
  background: url('/combinePlayer/sc-player-minimal/img/play.png');
}

.sc-player .sc-controls a.sc-pause:hover{
  background: url('/combinePlayer/sc-player-minimal/img/play-hover.png');
}

.sc-player.playing .sc-controls a.sc-pause{
  background: url('/combinePlayer/sc-player-minimal/img/pause.png');
}

.sc-player.playing .sc-controls a.sc-pause:hover{
  background: url('/combinePlayer/sc-player-minimal/img/pause-hover.png');
}  

.sc-scrubber .sc-time-indicators{
  background: #fff;
  color: #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px;
  font-size: 10px;
  font-weight: normal;
  line-height: 1em;
}

/* Track listings*/

.sc-player ol.sc-trackslist li.active, .sc-player ol.sc-trackslist li:hover {
  background-color: #000;
  padding: 4px;
  color: #fff;
}

.sc-player ol.sc-trackslist li.active a {
  color: #fff;
}

.sc-track-duration {
  text-align: right;
  float: right;
  padding: 0 5px;
  margin-left: 5px;
  display: none;
}

/* Track info*/
.sc-info{
 display:none;
 }
.sc-player .sc-info{
  background: #fff;
  opacity: 0.9;
}

.sc-player .sc-info-toggle{
  background: #fff;
  color: #003399;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  padding: 4px;
}

.sc-player .sc-info-toggle:hover{
  background: #003399;
  color: #eee;
}

.sc-player .sc-info-close{
  background: #003399;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}