body {
	margin: 0px 15px;
	bgcolor: #FFFFFF;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
	margin-bottom: 5px;
}

img {
	border: 0;
	float: inherit;
}

form {
	margin: 0px;
	padding: 0px;
	color: 
}

#outerContainer {
	width: 940px;
	margin: 0 auto;
	background: #FFFFFF;
	overflow: hidden;
}

#purifyMasthead {
	width: 940px;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
	border-top: 5px solid #1f1c1d;
	height: 60px;
}

#purifyLogo {
	float: left;
	border: 0;
}

#toplevelNav {
	padding: 5px 0px 5px 0px;
	/*border-bottom: 1px solid #cbcaca;*/
	background-color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 13px;
}

#toplevelNav ul {
	margin: 0px;
	padding: 0px;
}

#toplevelNav ul li {
	display: inline;
	margin: 0px 12px 0px 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#toplevelNav ul li a {
	color: #1F1C1D;
}

#toplevelNav ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

.active {
	color: #cacaca;
}

#miscNav {
	width: 520px;
	float: right;
	text-align: right;
	position: relative;
}

/* login
----------------------------------------------- */

#loginBox {
	position: absolute;
	width: 420px;
	left: 120px;
	top: -5px;
	font-size: 11px;
	text-align: left;
	/*background-color: #00FF00;*/
}

.loginField {
	width: 125px;
	margin: 0px;
	padding: 1px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;	
}

#loggedin {
	position: absolute;
	width: 350px;
	height: 50px;
	left: 100px;
	top: 5px;
	font-size: 11px;
	text-align: right;
	padding-right: 70px;
/*	background: url(../images/mini_pic.gif) no-repeat right top; */
}

#loggedin h2 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 4px 0px;
	line-height: normal;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#loggedin p {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	line-height: normal;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

/* misc nav
----------------------------------------------- */

#miscNav ul {
	margin: 0px;
	padding: 0px;
}

#miscNav ul li {
	margin: 0px;
	list-style: none;
}

#miscNav ul li a {
	color: #1F1C1D;
}

#miscNav ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

/* content
----------------------------------------------- */

#contentContainer {
	width: 940px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	position: relative;
}

/* subnavigation
----------------------------------------------- */

#subNavigationContainer {
	width:235px;
	float:left;
}

#flashPlayer {
	width: 185px;
	float:left;
	padding:25px;
	margin-right: 40px;
	margin-top:10px;
	background-color: #EDEDED;
	border: 1px #EDEDED solid;
}

#flashPlayer-index {
	width: 200px;
	float:left;
	padding:25px 75px 25px 75px;
	margin-right: 40px;
	margin-top:10px;
	background-color: #EDEDED;
	border: 1px #EDEDED solid;
}

#subNavigation {
	width: 180px;
	padding: 20px;
	margin-right: 40px;
	float: left;
	background-color: #EDEDED;
	border: 1px #EDEDED solid;
}

#subNavigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#subNavigation ul li {
	font-size: 14px;
	margin-top: 4px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}

#subNavigation ul li a {
	color: #000000;
}

#subNavigation ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

#actualContent {
	width: 500px;
	float: left;
}

.list-wrap{float:left; width:665px;}

#sectionTitle {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 23px;
	text-transform: capitalize;
	color: #000000;
	margin-bottom: 12px;
	margin-top: -3px;
	padding-bottom: 12px;
}

#unregistered {
	width: 200px;
	position: absolute;
	left: 740px;
	top: 20px;
	padding: 10px 10px 10px 6px;
	background-color: #ededed;
	color: #626262 !important;
}

/* front page
----------------------------------------------- */

#frontPage {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
}

#homeRightColumn {
	width: 570px;
	float: right;
}

#homeLeftColumn {
	width: 350px;
	float: left;
}

.clearMe {
	clear: both;
}

#homeQuote {
	background-color: #ededed;
	padding: 20px;
	margin-top: 20px;
}

#homeQuote h2 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

#homeQuote h3 {
	font-size: 12px;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#homeQuote h4 {
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #626262;
}

.greyLink {
	color: #626262;
}

#homeQuote p {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #000000;
}

#front_page_news {
	background-color: #ededed;
	padding: 20px 20px 20px 20px;
	margin-top: 20px;
}

#front_page_news h2 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

#front_page_news h3 {
	line-height: normal;
	font-size: 14px;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#front_page_news h4 {
	line-height: normal;
	font-size: 9px;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#front_page_news h5 {
	line-height: normal;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	text-align: right;
}


#front_page_news p {
	font-size: 11px;
	margin: 0px 0px 15px;
	padding: 0px;
	color: #626262;
	line-height: 17px;
}

#promoBox {
	margin-bottom: 20px;
}

#featureHead {
	margin-bottom: 10px;
}

#area-separator {
	width:100%;
	float:left;	
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
	border-bottom: 1px #C5C5C5 solid;
}

#quote-box {
	width:100%;
	float:left;
	margin-bottom:5px;
}

#quote-line {
	width:100%;
	float:left;	
	text-align:left;
	margin-bottom:5px;
}

#quote-separator {
	width:100%;
	width:100%;
	float:left;	
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	border-bottom: 1px #C5C5C5 dashed;
}

/* featured
----------------------------------------------- */

#featuredHeads h1 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

.featuredItemStack {
	width: 570px;
	clear: both;
}

.featuredItemStackMid {
	width: 665px;
	clear: both;
}

.featuredItem {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
}


.featuredItemLeft {
	width: 270px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: left;
}

.featuredItemRight {
	width: 270px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: right;
}

.featuredItemLeftMid {
	width: 310px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: left;
}

.featuredItemRightMid {
	width: 310px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: right;
}

.featuredContent {
	width: 140px;
	float: left;
}

.featuredContent_txt {
	width: 140px;
	float: right;
}

.featuredContentMid {
	width: 190px;
	float: left;
}
.select_membership {
	width: 625px;
	float: left;
	margin-top: 5px;
}

.featuredContentMid_txt {
	width: 190px;
	float: right;
}

.featuredContentWide {
	width: 540px;
	float: left;
}

.featuredContentWideLeft {
	width: 140px;
	float: left;
}

.featuredContentExtraWideLeft {
	width: 740px;
	float: left;
}

.featuredContentWideRight {
	width: 380px;
	float: right;
}

.featuredPhoto {
	float: left;
	width: 110px;
}

#featured_buttons
{
	width:50%; 
	float:left; 
	margin-top:5px;
}

.featuredPhoto_team {
	float: right;
}


.featuredButton {
	float: right;
	vertical-align:baseline;
}

.featuredPhoto img {
	border: 1px solid #cbcaca;
}

.featuredContent h2, .featuredContentWide h2, .featuredContentMid h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #000000;
	margin-bottom: 2px;
	margin-top: 0px;
	padding: 0px;
}

.featuredContent h3, .featuredContentWide h3, .featuredContentMid h3 {
	font-size: 18px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.featuredContent p, .featuredContentWide p, .featuredContentMid p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #A3A2A2;
	margin: 0px 0px 0px 0px;
	text-align: left;
}


/* base
----------------------------------------------- */

blockquote {
	margin-right: 0;
	margin-left: 20px;
}

h1, h2, h3 {
	font-weight: normal;
}

h1, h2 {
	font-family: Georgia, Times, serif;
}

h1 {
	width:500px;
	font-size: 28px;
	margin: 0px;
	padding: 0px 0px 20px 0px; float:left;
}

h2 {
	font-size: 18px;
	font-style: italic;
}

h3 {
	font-size: 20px;
	margin: 0px;
	padding: 0px 0px 17px 0px;
}

.withLine {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
}

h4 {
	font-size: 18px;
	line-height: 22px;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	color: #000000;
	font-weight: normal;
	font-family: Georgia, Times, serif;
}

h5 {
	font-size: 14px;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px 0px 17px 0px;
}

ul {
	margin: 0px;
	padding: 0px 0px 17px 25px;
}

li {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px;
	padding: 0px;
}

b {
	color: #000000;
}

#biglist ul {
	margin: 0px;
	padding: 0px 0px 17px 25px;
	color: #000000;
}

#biglist li {
	font-size: 16px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* form fields
----------------------------------------------- */

.regularField {
	width: 400px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
	/*border: 1px solid #CCCCCC;*/
}

.regularField2 {
	width: 130px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

.pulldownField {
	width: 400px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}

.hint {
	width:100px; float:left;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 10px;
}

.hintUpload {
	width:500px; float:left;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	clear:both;
	text-align:left;
	margin-left:20px;
}

.hintGray {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ABABAB;
	padding-left: 5px;
}

.hintp
{
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A3A2A2;
	padding-left:20px;
}

.hintGreen {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	padding-left: 10px;
}

.hintRed {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	padding-left: 10px;
}

.hintWhite {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	padding-left: 10px;
}

/* links
----------------------------------------------- */

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

/* next/back
----------------------------------------------- */

.nextBack {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.nextBack a, .nextBack a:link {
padding: 6px 15px 6px 15px;
color: #2d2d2f;
width: 100px;
text-align: left;
font-size: 13px;
background-color: #cbcaca;
border: none !important;
margin-bottom: 15px !important;
margin-right: 15px;
font-weight: bold;
}

.nextBack a:hover {
color: #FFF;
background-color: #000;
border: none !important;
text-decoration: none;
}

.registerButtons {
	padding-top: 10px;
	text-align: left;
}

.registerButtons a, .registerButtons a:link {
padding: 6px 15px 6px 15px;
color: #2d2d2f;
width: 100px;
text-align: left;
font-size: 13px;
background-color: #cbcaca;
border: none !important;
margin-bottom: 15px !important;
margin-right: 15px;
font-weight: bold;
}

.registerButtons a:hover {
color: #FFF;
background-color: #000;
border: none !important;
text-decoration: none;
}

/* footer
----------------------------------------------- */

#preFoot {
	width: 920px;
	margin: 0 auto;
	height: 20px;
}

#footer {
	width: 920px;
	padding: 10px;
	clear: both;
	margin: 0 auto;
	font-size: 11px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	text-align: center;
	border-top: 1px solid #cbcaca;
	border-bottom: 1px solid #cbcaca;
	margin-bottom: 20px;
}
#homemission {
	background-color: #ededed;
	padding: 20px;
	color: #626262;
}
#homemission p {
	margin: 0px; padding: 0px;
	color: #626262;
}


.registerMid {
	margin-right: 12px; 
	width: 170px;
	float: left;
}
.registerMid p {
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	color: #626262;
}
.registerMid h3 {
	font-size: 20px;
	margin: 0px 0px 15px 0px;
	padding: 0px;
}

/* Profile pages */

#display-box {
	background:#F8F8F8;
	width: 98%;
	float:left;
	padding: 10px;
}

.display-text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #777777;
}

#edit-box {
	background:#F8F8F8;
	width: 98%;
	float:left;
	padding: 10px;
}

.edit-text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #777777;
}
#membership_form
{
	width:665px;
	float:left;
	margin-top:10px;
	
}

#profileHeader {
	width: 940px;
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
}

#profilePhoto {
	width: 450px;
	float: left;
}

#profileInfo {
	width: 440px;
	height: 400px;
	padding: 25px;
	float: right;
	background-color: #ececec;
}

#profileInfo h2 {
	width:100px; float:left;
	font: italic normal 17px/17px Georgia, "Times New Roman", Times, serif;
	color: #000;	
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 0px;
}

#profileFeatured{float:right;}
#profileFeatured img{float:left;}

#profileInfo h1 {
	clear:both;
	font: normal normal 36px/36px Georgia, "Times New Roman", Times, serif;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}

#profileInfo h3 {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
	clear:both;
}

#profileInfo p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
	color: #A3A2A2;
}

#profileStatsBlock {
	width: 455px;
	height: 70px;
	position: absolute;
	left: 450px;
	top: 360px;
	padding: 10px 10px 10px 25px;
	margin: 0px 0px 0px 0px;
	color: #FFFFFF;
	background-color: #000000;
}

#profileStats {
	width: 270px;
	float: left;
}

#profileStats p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #FFFFFF;
	line-height: 22px;
}

#profileButtons {
	width: 143px;
	float: right;
}

#profileButtons a:link, #profileButtons a:visited {
	width: 137px;
	height: 18px;
	display: block;
	background: url(../images/profile/btn_off.gif) no-repeat 0px 0px;
	color: #000;
	text-decoration: none;
	margin-bottom: 4px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 0px 0px 6px;
	text-transform: uppercase;
}

#profileButtons a:active, #profileButtons a:hover {
	background: url(../images/profile/btn_over.gif) no-repeat 0px 0px;
}

#profileTabs {
	width: 940px;
	clear: both;
	margin-top: 0px;
	overflow: hidden;
	padding-bottom: 40px;
	/*background: url(../images/profile/shadow.gif) no-repeat left bottom;*/
}

#profileTabs ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#profileTabs li {
	display: block;
	width: 137px;
	height: 42px;
	float: left;
	margin: 0px 0px 0px 17px;
	padding: 0px 0px 0px 0px;
}

#profileTabs a{
	width: 137px;
	height: 30px;
	display: block;
	background: url(../images/profile/tab_off.gif) no-repeat 0px 0px;
	color: #000;
	text-decoration: none;
	margin-bottom: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 17px;
	padding: 12px 0px 0px 0px;
	text-transform: uppercase;
	text-align: center;
}

#profileTabs a:hover{
	width: 137px;
	height: 30px;
	background: url(../images/profile/tab_over.gif) no-repeat 0px 0px;
}

#profileTabs .active{
	width: 137px;
	height: 30px;
	display: block;
	background: url(../images/profile/tab_over.png) no-repeat 0px 0px;
	color: #000;
	text-decoration: none;
	margin-bottom: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 17px;
	padding: 12px 0px 0px 0px;
	text-transform: uppercase;
	text-align: center;
}

/*#profileTabs a:active {
	background: url(../images/profile/tab_over.gif) no-repeat 0px 0px;
}*/


/*#profileTabs a:hover {
	background: url(../images/profile/tab_over.gif) no-repeat 0px 0px;
}

.profileLit {
		/*background: url(../images/profile/tab_over.gif) no-repeat 0px 0px !important;
}*/	

#mediaTab {
	width: 940px;
	clear: both;
}

#mediaTab #profileFeatured{margin-right:17px; float:right;}
#mediaTab #profileFeatured img{border:none; float:left;}
#mediaTab #profileFeatured{float:right;}

#eventsTab #profileFeatured{margin-right:17px; float:right;}
#eventsTab #profileFeatured img{border:none; float:left;}
#eventsTab #profileFeatured{float:right;}

#projectsTab #profileFeatured{margin-right:17px; float:right;}
#projectsTab #profileFeatured img{border:none; float:left;}
#projectsTab #profileFeatured{float:right;}

#servicesTab #profileFeatured{margin-right:17px; float:right;}
#servicesTab #profileFeatured img{border:none; float:left;}
#servicesTab #profileFeatured{float:right;}

#friendsTab #profileFeatured{margin-right:17px; float:right;}
#friendsTab #profileFeatured img{border:none; float:left;}
#friendsTab #profileFeatured{float:right;}

#promotionsTab #profileFeatured{margin-right:17px; float:right;}
#promotionsTab #profileFeatured img{border:none; float:left;}
#promotionsTab #profileFeatured{float:right;}

.fmedia{width:95px; height:23px; float:left; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; text-transform:uppercase; color:#fff; background:url(../images/profile/featured.png) no-repeat; line-height:25px; padding-left:5px;}
.playall{width:60px; height:23px; float:left; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; text-transform:uppercase; color:#fff; background:url(../images/profile/play-all.png) no-repeat; line-height:25px; padding-left:10px;}
#mediaTab h2, #eventsTab h2, #promotionsTab h2, #servicesTab h2, #friendsTab h2, #projectsTab h2 {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 0px 0px 7px 0px;
	margin: 0px 0px 15px 16px;
	font-style: normal;
	display: block;
	width: 907px;
	border-bottom: 1px solid #DDDDDD;
}
	
#mediaTab h3, #eventsTab h3, #promotionsTab h3, #servicesTab h3, #friendsTab h3, #projectsTab h3 {
	color: #8D8D8D;
	margin: 0px 0px 8px 0px;
	padding: 0px 0px 0px 0px;
	font: 14px geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#mediaTab img, #eventsTab img, #promotionsTab img, #servicesTab img, friendsTab img, #projectsTab img {
	margin-bottom: 4px;
	border: 1px solid #CBCACA;
}

.tabItem {
	width: 202px;
	padding: 0px 16px 0px 17px;
	margin: 0px 0px 0px 0px;
	height: 260px;
	float: left;
}

.player img {
	border: 0 !important;
	float:left;
	cursor:pointer;
}

.rowItem {
	width: 940px;
	overflow: hidden;
	clear: both;
}

.hiddenBlock1 {
	
}

.hiddenBlock2, .hiddenBlock3, .hiddenBlock4, .hiddenBlock5, .hiddenBlock6 {
	display: none;
}


#actualContent .fieldCont{width:500px; margin-bottom:20px; float:left;}
#actualContent .fieldCont .fieldTitle{width:115px; float:left; font-size:14px; color:#000; padding:5px 0 0 0;}
#actualContent .fieldCont .fieldTitle .subtitle{font-size:11px;}
#actualContent .fieldCont .fieldText{width:200px; height:20px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#actualContent .fieldCont .fieldTextArea{width:250px; height:125px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#actualContent .fieldCont .dropdown{width:208px; height:30px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#actualContent .fieldCont .fieldUpload{width:200px; height:20px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC; margin-left:170px;}
#actualContent .fieldCont .chkCont{float:left; margin-left:50px; padding-top:5px;}
#actualContent .fieldCont .chkCont .chk{float:left; margin-right:5px;}
#actualContent .fieldCont .chkCont .radioTitle{font-size:12px; color:#000; font-family:Arial, Helvetica, sans-serif;  float:left;}
#actualContent .fieldCont .chkCont .chkTitle{font-size:12px; color:#000; width:500px; font-family:Arial, Helvetica, sans-serif; }
#actualContent .register{float:right;}

.manageCont{width:652px;}
.manageCont .titleCont{width:652px; background:#e0e0e0; height:30px; float:left;}
.manageCont .titleCont .blkA{width:200px; float:left; font-size:14px; color:#000; line-height:29px; margin-left:5px;}
.manageCont .titleCont .blkB{width:200px; float:left; font-size:14px; color:#000; line-height:29px;}
.manageCont .titleCont .blkC{width:50px; float:left; font-size:14px; color:#000; line-height:29px;}
.manageCont .titleCont .blkD{width:95px; float:left; font-size:14px; color:#000; line-height:29px; text-align:center;}
#mediaContent .titleCont .blkG{width:80px; float:left; font-size:12px; color:#000; line-height:31px; text-align:center;}

.manageCont .tableCont{width:652px; height:30px; float:left; border-bottom:1px dotted #e0e0e0;}
.manageCont .tableCont .blkA{width:200px; float:left; font-size:12px; color:#000; line-height:29px; margin-left:5px;}
.manageCont .tableCont .blkB{width:200px; float:left; font-size:12px; color:#000; line-height:29px;}
.manageCont .tableCont .blkC{width:40px; float:left; color:#000; line-height:29px; padding:5px 0 0 10px;}
.manageCont .tableCont .blkD{width:95px; float:left;text-align:center;}
.manageCont .tableCont .blkD a{width:95px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center; text-decoration:none;}
.manageCont .tableCont .blkD a:hover{text-decoration:underline;}

#mediaContent .topLinks{width:665px; float:left; margin:0 0 10px 0;}
#mediaContent .topLinks .links{float:right;}
#mediaContent .topLinks .links ul{list-style:none; padding:0; float:left; margin-top:5px;}
#mediaContent .topLinks .links ul li{font-size:12px; color:#000; display:inline;}
#mediaContent .topLinks .links ul li a{font-size:12px; color:#000; text-decoration:none; margin-left:3px;}
#mediaContent .topLinks .links ul li a:hover{text-decoration:underline;}
#mediaContent .topLinks .links .dropdown{width:100px; height:30px; float:left; margin-left: 10px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#mediaContent .topLinks .links .eventdrop{width:150px; height:30px; float:left; margin-left: 10px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}

#mediaContent{width:665px;}
#mediaContent .contTitle{width:665px; font-family: Georgia, Times, serif; font-size:20px; color:#000; margin-bottom:10px;}
#mediaContent .titleCont{width:665px; background:#e0e0e0; height:30px; float:left; border-bottom:1px dotted #999;}
#mediaContent .titleCont .chkbox{width:50px; float:left; padding:8px 0 0 8px;}
#mediaContent .titleCont .blkA{width:200px; float:left; font-size:12px; color:#000; line-height:31px; margin-left:5px;}
#mediaContent .titleCont .blkB{width:135px; float:left; font-size:12px; color:#000; line-height:31px; text-align:center;}
#mediaContent .titleCont .blkC{width:50px; float:left; font-size:12px; color:#000; line-height:31px;}
#mediaContent .titleCont .blkD{width:60px; float:left; font-size:12px; color:#000; line-height:31px; text-align:center;}
#mediaContent .titleCont .blkE{width:150px; float:left; font-size:12px; color:#000; line-height:31px;text-align:center;}
#mediaContent .titleCont .blkF{width:138px; float:left; font-size:12px; color:#000; line-height:31px;text-align:center;}
#mediaContent .titleCont .blkG{width:80px; float:left; font-size:12px; color:#000; line-height:31px; text-align:center;}
#mediaContent .titleCont .blkH{width:400px; float:left; font-size:12px; color:#000; line-height:31px;}

#mediaContent .tableCont{width:665px; min-height:30px; float:left; border-bottom:1px dotted #e0e0e0; position:relative;}
#mediaContent .tableCont .chkbox{width:50px; float:left; padding:8px 0 0 8px;}
#mediaContent .tableCont .blkA{width:200px; float:left; font-size:12px; color:#000; line-height:29px; margin-left:5px;}
#mediaContent .tableCont .blkB{width:135px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}
#mediaContent .tableCont .blkB a{font-size:12px; color:#000; line-height:29px; text-align:center; text-decoration:none;}
#mediaContent .tableCont .blkB a:hover{text-decoration:underline;}
#mediaContent .tableCont .blkC{width:40px; float:left; color:#000; line-height:29px; font-size:12px;}
#mediaContent .tableCont .blkD{width:60px; float:left;font-size:12px; color:#000; line-height:29px; text-align:center; cursor:pointer;}
#mediaContent .tableCont .blkD a{width:60px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center; text-decoration:none;}
#mediaContent .tableCont .blkD a:hover{text-decoration:underline;}
#mediaContent .tableCont .blkE{width:150px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}
#mediaContent .tableCont .blkF{width:138px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}
#mediaContent .tableCont .blkG{width:80px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}
#mediaContent .tableCont .blkH{width:400px; float:left; font-size:12px; color:#000; line-height:29px; }
#mediaContent .tableCont .expandable{width:652px; overflow:auto; float:left; display:none; position:relative; height:0px;}
#mediaContent .tableCont .icon{width:55px; float:left; padding-top:5px; text-align:center;}

#homeRightColumn h1{width:478px; float:right; font-size:22px; border-bottom:1px dotted #999; padding-bottom:10px; margin-bottom:20px;}
#homeRightColumn .fieldCont{width:478px; margin-bottom:15px; float:right;}
#homeRightColumn .fieldCont .fieldTitle{width:150px; float:left; font-size:14px; color:#000; padding-top:5px; text-align:right;}
#homeRightColumn .fieldCont .fieldTitle .subtitle{font-size:11px;}
#homeRightColumn .fieldCont .fieldText{width:300px; height:20px; float:left; margin-left: 20px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#homeRightColumn .fieldCont .captcha{ float:left; margin-left:10px;}
#homeRightColumn  .fieldCont .chkCont{float:left; margin-left:50px; padding-top:5px;}
#homeRightColumn  .fieldCont .chkCont .chk{width:100px; float:left; margin-right:5px;}
#homeRightColumn  .fieldCont .chkCont .chkTitle{font-size:12px; color:#000; width:500px; font-family:Arial, Helvetica, sans-serif; }
#homeRightColumn .fieldCont .register{ margin-right:20px;}
#homeRightColumn .fieldCont .regiCont{ float:right;margin-right:125px;}

/*Upper Tabs of Genral Registration*/
#tabs {
	width: 940px;
	clear: both;
	margin-top: 0px;
	overflow: hidden;
	padding-bottom: 50px;
	background: url(../images/profile/shadow.gif) no-repeat left bottom;
}

#tabs ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#tabs li {
	display: block;
	width: 137px;
	height: 42px;
	float: left;
	margin: 0px 0px 0px 17px;
	padding: 0px 0px 0px 0px;
}

#tabs a:link, #tabs a:visited {
	width: 137px;
	height: 30px;
	display: block;
	background: url(../images/profile/tab_off.gif) no-repeat 0px 0px;
	color: #000;
	text-decoration: none;
	margin-bottom: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 17px;
	padding: 12px 0px 0px 0px;
	text-transform: uppercase;
	text-align: center;
}


#tabs a:active, #tabs a:hover {
	background: url(../images/profile/tab_over.gif) no-repeat 0px 0px;
}

/*** PROFILE DISPLAY POPUP ***/

#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
width:408px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}

#popupContact p{font-size:14px; text-align:center;}

#popupContact h1{
text-align:left;
color:#000;
font-size:22px;
font-weight:700;
padding-bottom:2px;
margin-left:83px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#popupContact h1 a{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
color:#000;
font-size:22px;
font-weight:700;
text-decoration:underline;
}

#popupContact h1 a:hover{
text-decoration:none;
}

#popupContactClose{
font-size:17px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#000;
font-weight:700;
display:block;
font-family:Arial, Helvetica, sans-serif;
}

#popupContact .formCont{width:222px; margin:0 auto;}
#popupContact .formFieldCont{clear:both; width:222px; float:left; margin-top:5px;}
#popupContact .formFieldCont .fieldTitle{ font-size:14px; color:#000; width:70px; height:27px; float:left; line-height:23px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
#popupContact .formFieldCont .textfield{width:150px; height:20px; border:1px solid #999; float:left; background:#fff;}
#popupContact .formFieldCont .login{float:right; cursor:pointer;}