#lightbox {
	/* background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px; */
    display: none;
    left: 66%;
    top: 50%;
    margin-left: -250px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 150px;
    z-index: 1001;
}
#lightbox-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1010px;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}
