.box1 {
	background-color:#EDEDED;
 font-size: 12px;
 font-family:geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
 padding: 0px;
 width: 162px;
 font-weight: bold;
 color: #000000;
 border: thin solid #D6D6D6;
 /*float:right;*/
}
.box1A {
	background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-top: 5px;
	padding-right: 5px;
	color:#000000;
	padding-bottom: 5px;
	padding-left: 5px;
}
.box1B {
	background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 25px;
	padding-top: 5px;
	padding-right: 5px;
	color:#000000;
	background-color:#CCCCCC;
	padding-bottom: 5px;
	padding-left: 5px;
}
