.box1 {
	background-color:#CCCCCC;
	font-size: 12px;
	margin: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 10px;
	width: 225px;
	font-weight: bold;
	color: #000000;
	border: thin solid #000000;
}
.box1A {
	background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-top: 5px;
	padding-right: 5px;
	color:#000000;
	padding-bottom: 5px;
	padding-left: 5px;
}
