@import url(http://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:400,700|Ubuntu:400,700|Droid+Serif:400,700);

.logFieldCont .searchField:focus  
{  
    outline: none;  
	border: 1px solid darkgray !important;
}


/*body {
	margin: 0px 15px;
	bgcolor: #FFFFFF;
	font-family: Georgia, 'Times New Roman', Times, serif;
}*/
body {
	margin: 0px 15px;
	bgcolor: #FFFFFF;
	font-family: 'Ubuntu', geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
}

* {
	margin-bottom: 5px;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {background-color: #000; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 0.825em; font-weight: bold; padding: 6px 10px; text-decoration: none; cursor:pointer;}

img {
	border: 0;
	float: inherit;
}

form {
	margin: 0px;
	padding: 0px;
	color: 
}

#outerContainer {
	width: 940px;
	margin: 0 auto;
	background: #FFFFFF;
	overflow: hidden;
}

#purifyMasthead {
	width: 940px;
	height:110px;
	border-bottom: 1px solid #cbcaca;
	border-top: 5px solid #1f1c1d;
	margin: 0 auto;
}

#purifyLogo {
	float: left;
	border: 0;
	margin-top:22px;
}

#toplevelNav {
	padding: 5px 0px 5px 0px;
	background-color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 13px;
}

#toplevelNav ul {
	margin: 0px;
	padding: 0px;
}

#toplevelNav ul li {
	display: inline;
	margin: 0px 12px 0px 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#toplevelNav ul li a {
	color: #1F1C1D;
}

#toplevelNav ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

.active {
	color: #cacaca;
}

#miscNav {
	width: 520px;
	float: right;
	text-align: right;
	position: relative;
}



/* login
----------------------------------------------- */

#loginBox {
	width: 580px;
	font-size: 11px;
	text-align: left;
	float:right;
}

#searchBox{
width: 208px;
	margin:35px 0 0 0;
	float:left;
	position: relative;
}
.logFieldCont {
	float:left;
	margin:4px 0 0 10px;
}
.logFieldCont .fieldTitle {
	float:left;
	margin-right:5px;
}
#loginForm {
	position: relative;
	width: 215px;
	float: right;
	padding-top: 12px;
}
.registerButton {
	margin:4px 0 0 5px;
	background-color: #000;
	border: 0 none;
	color: #FFFFFF;
	font-size: 0.75em;
	padding: 3px 7px;
	text-decoration: none;
	float:right;
	text-transform: uppercase;
	display: block;
}
.loginField {
	width: 197px;
	margin: 0px;
	padding: 3px;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	float:right;
}

.logFieldCont .search{
	width:18px;
	float:left;
	margin:0;
	padding:0;
	position: absolute;
	right: 15px;
	top: 6px;
}
.logFieldCont .searchField{
width: 190px;
	margin: 0px;
	padding: 5px;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	float:left;
}
.forgot {
	clear: both;
	float: right;
	padding-top: 4px;
	position: absolute;
	left: 10px;
	top: 67px;
}
.forgot a {
	font-size:11px;
	color:#000;
	text-decoration:none;
}
.forgot a:hover {
	text-decoration:underline;
}
.loginButton {
	margin:4px 0 0 5px;
	background-color: #000;
	border: 0 none;
	color: #FFFFFF;
	font-size: 0.75em;
	padding: 3px 7px;
	text-decoration: none;
	float:right;
	text-transform: uppercase;
	display: block;
}

.logError{ font-size:10px; float:left; margin:0 0 0 10px; font-family:Arial, Helvetica, sans-serif; color:#e00000;}

#loggedin {
	float:right;
	height: 50px;
	left: 100px;
	top: 5px;
	font-size: 11px;
	text-align: right;
	padding-right: 70px;
	margin-top:27px;
	/*background-image: url(../../images/mini_pic.gif);
	background-repeat: no-repeat;
	background-position: right top;*/
}

#loggedin h2 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 4px 0px;
	line-height: normal;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#loggedin p {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	line-height: normal;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#outerContainer p{font-size:14px; color:#000; line-height:15px;}
#contentContainer p{width:800px; font-size:14px; color:#000; line-height:25px; float:none; margin:20px auto;}

/* misc nav
----------------------------------------------- */

#miscNav ul {
	margin: 0px;
	padding: 0px;
}

#miscNav ul li {
	margin: 0px;
	list-style: none;
}

#miscNav ul li a {
	color: #1F1C1D;
}

#miscNav ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

/* content
----------------------------------------------- */

#contentContainer {
	width: 940px;
	clear: both;
	padding-top: 20px;
	/*padding-bottom: 20px;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

/* subnavigation
----------------------------------------------- */

#subNavigationContainer {
	width:235px;
	float:left;
}

#flashPlayer {
	width: 185px;
	float:left;
	padding:25px;
	margin-right: 40px;
	margin-top:10px;
	background-color: #EDEDED;
	border: 1px #EDEDED solid;
}

#flashPlayer-index {
	width: 200px;
	float:left;
	padding:25px 75px 25px 75px;
	margin-right: 40px;
	margin-top:10px;
	background-color: #EDEDED;
	border: 1px #EDEDED solid;
}

#subNavigation {
	width: 180px;
	padding: 25px;
	margin:0 40px 40px 0;
	float: left;
	background-color: #EDEDED;
	border: 1px #EDEDED solid;
	float:left;
}

#subNavigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#subNavigation ul li {
	font-size: 14px;
	margin-top: 4px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}

#subNavigation ul li a {
	color: #000000;
}

#subNavigation ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

.list-wrap{
float:left; 
width:665px;
}

#actualContent {
	width: 665px;
	float: right;
}

#sectionTitle {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 23px;
	text-transform: capitalize;
	color: #000000;
	margin-bottom: 12px;
	margin-top: -3px;
	padding-bottom: 12px;
}

#unregistered {
	width: 200px;
	position: absolute;
	left: 740px;
	top: 20px;
	padding: 10px 10px 10px 6px;
	background-color: #ededed;
	color: #626262 !important;
}

/* front page
----------------------------------------------- */

#frontPage {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
}

#homeRightColumn {
	width: 535px;
	float: right;
}

#homeLeftColumn {
	width: 380px;
	float: left;
	margin-left:0px;
}

.clearMe {
	clear: both;
}

#homeQuote {
	background-color: #ededed;
	padding: 20px;
	margin-top: 20px;
}

#homeQuote h2 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

#homeQuote h3 {
	font-size: 12px;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#homeQuote h4 {
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #626262;
}

.greyLink {
	color: #626262;
}

#homeQuote p {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #000000;
}

#front_page_news {
	background-color: #ededed;
	padding: 20px 20px 20px 20px;
	margin-top: 20px;
}

#front_page_news h2 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

#front_page_news h3 {
	line-height: normal;
	font-size: 14px;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#front_page_news h4 {
	line-height: normal;
	font-size: 9px;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#front_page_news h5 {
	line-height: normal;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	text-align: right;
}


#front_page_news p {
	font-size: 12px;
	margin: 0px 0px 15px;
	padding: 0px;
	color: #626262;
	line-height: 18px;
	width:inherit;
}

#promoBox {
	margin-bottom: 20px;
}

#featureHead {
	margin-bottom: 10px;
}

#area-separator {
	width:100%;
	float:left;	
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
	border-bottom: 1px #C5C5C5 solid;
}

#quote-box {
	width:100%;
	float:left;
	margin-bottom:5px;
}

#quote-line {
	width:100%;
	float:left;	
	text-align:left;
	margin-bottom:5px;
}

#quote-separator {
	width:100%;
	width:100%;
	float:left;	
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	border-bottom: 1px #C5C5C5 dashed;
}

/* featured
----------------------------------------------- */

#featuredHeads h1 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

.featuredItemStack {
	width: 570px;
	clear: both;
}

.featuredItemStackMid {
	width: 665px;
	clear: both;
}

.featuredItem {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
}


.featuredItemLeft {
	width: 270px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: left;
}

.featuredItemRight {
	width: 270px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: right;
}

.featuredItemLeftMid {
	width: 310px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: left;
}

.featuredItemRightMid {
	width: 310px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: right;
}

.featuredContent {
	width: 140px;
	float: left;
}

.featuredContent_txt {
	width: 140px;
	float: right;
}

.featuredContentMid {
	width: 190px;
	float: left;
}

.featuredContentMid_txt {
	width: 190px;
	float: right;
}

.featuredContentWide {
	width: 540px;
	float: left;
}

.featuredContentWideLeft {
	width: 140px;
	float: left;
}

.featuredContentExtraWideLeft {
	width: 740px;
	float: left;
}

.featuredContentWideRight {
	width: 380px;
	float: right;
}

.featuredPhoto {
	float: left;
	width: 110px;
}

#featured_buttons
{
	width:50%; 
	float:left; 
	margin-top:5px;
}

.featuredPhoto_team {
	float: right;
}


.featuredButton {
	float: right;
	vertical-align:baseline;
}

.featuredPhoto img {
	border: 1px solid #cbcaca;
}

.featuredContent h2, .featuredContentWide h2, .featuredContentMid h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #000000;
	margin-bottom: 2px;
	margin-top: 0px;
	padding: 0px;
}

.featuredContent h3, .featuredContentWide h3, .featuredContentMid h3 {
	font-size: 18px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.featuredContent p, .featuredContentWide p, .featuredContentMid p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #A3A2A2;
	margin: 0px 0px 0px 0px;
	text-align: left;
}


/* base
----------------------------------------------- */

blockquote {
	margin-right: 0;
	margin-left: 20px;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1, h2 {
	font-family: Georgia, Times, serif;
}

h1 {
	font-size: 28px;
	margin: 0px;
	padding: 0px 0px 20px 0px;
}

h2 {
	font-size: 20px;
	font-style: italic;
}

h3 {
	font-size: 20px;
	margin: 0px;
	padding: 0px 0px 17px 0px;
}



.withLine {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
}

h4 {
	font-size: 18px;
	line-height: 22px;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	color: #000000;
	font-weight: normal;
	font-family: Georgia, Times, serif;
}

h5 {
	font-size: 14px;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px 0px 17px 0px;
}

ul {
	margin: 0px;
	padding: 0px 0px 17px 25px;
}

li {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px;
	padding: 0px;
}

b {
	color: #000000;
}

#biglist ul {
	margin: 0px;
	padding: 0px 0px 17px 25px;
	color: #000000;
}

#biglist li {
	font-size: 16px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* form fields
----------------------------------------------- */

.regularField {
	width: 400px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

.regularField2 {
	width: 130px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

.pulldownField {
	width: 400px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}



.hintUpload {
	width:500px; float:left;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	clear:both;
	text-align:left;

}


.hintGray {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ABABAB;
	padding-left: 5px;
}

.hintp
{
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A3A2A2;
}

.hintGreen {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	padding-left: 10px;
}

.hintRed {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	padding-left: 10px;
}

.hintWhite {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	padding-left: 10px;
}

/* links
----------------------------------------------- */

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

/* next/back
----------------------------------------------- */

.nextBack {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.nextBack a, .nextBack a:link {
padding: 6px 15px 6px 15px;
color: #2d2d2f;
width: 100px;
text-align: left;
font-size: 13px;
background-color: #cbcaca;
border: none !important;
margin-bottom: 15px !important;
margin-right: 15px;
font-weight: bold;
}

.nextBack a:hover {
color: #FFF;
background-color: #000;
border: none !important;
text-decoration: none;
}

.registerButtons {
	padding-top: 10px;
	text-align: left;
}

.registerButtons a, .registerButtons a:link {
padding: 6px 15px 6px 15px;
color: #2d2d2f;
width: 100px;
text-align: left;
font-size: 13px;
background-color: #cbcaca;
border: none !important;
margin-bottom: 15px !important;
margin-right: 15px;
font-weight: bold;
}

.registerButtons a:hover {
color: #FFF;
background-color: #000;
border: none !important;
text-decoration: none;
}

/* footer
----------------------------------------------- */

#preFoot {
	width: 920px;
	margin: 0 auto;
	height: 20px;
}
#footer {
	width: 940px;
	display:block;
	clear: both;
	margin: 0 auto;
	font-size: 11px;
	text-align: center;
}
#footer #footerLinksWrapper {
	width:940px;
	height:170px;
	margin:0 auto;
	display:block;
	background-color: #f1f1f1;
	padding:20px 0 0 0;
}
#footerLinksWrapper #footerAboutUs {
	margin-left:35px;
}
#footerLinksWrapper p {
	height:200px;
}
#footerLinksWrapper .footerList {
	margin:0;
	padding:0;
	list-style-type:none;
	width:191px;
	display: block;
	float:left;
	clear:right;
	text-align:left;
}
.footerList .listHeader {
	border-bottom: 1px solid #e3e3e3;
	font-size:21px;
	font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-transform: capitalize;
	color: #000000;
	margin-bottom:6px;
	margin-right: 35px;
	padding-bottom: 3px;
}

#footerHelp {
	width: 140px !important;
}

p#copyright {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 13px;
	color: #626262;
}

.footerList li {
	line-height:22px;
}

.footerList li a:link, .footerList li a:visited {
	color: #626262;
}

#homemission {
	background-color: #F1F1F1;
	padding: 20px;
	color: #626262;
	margin-top: 15px;
}
#homemission h5 {
	line-height: normal;
	font-size: 12px;
	text-align: right;
	font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#homemission p {
	margin: 0px;
	padding: 0px;
	color: #626262;
	font-size:16px;
	line-height:27px;
	width:328px;
}
.registerMid {
	margin-right: 12px;
	width: 170px;
	float: left;
}
.registerMid p {
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	color: #626262;
}
.registerMid h3 {
	font-size: 20px;
	margin: 0px 0px 15px 0px;
	padding: 0px;
}

/* Profile pages */

#display-box {
	background:#F8F8F8;
	width: 98%;
	float:left;
	padding: 10px;
}

.display-text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #777777;
}

#edit-box {
	background:#F8F8F8;
	width: 98%;
	float:left;
	padding: 10px;
}

.edit-text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #777777;
}

/* PROFILE ADDITIONS 4/4/2010 */

#profileHeader {
	width: 940px;
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
}

#profilePhoto {
	width: 450px;
	float: left;
}

#profileInfo {
	width: 440px;
	height: 400px;
	padding: 25px;
	float: right;
	background-color: #ececec;
}

#profileInfo h2 {
	width:266px; float:left;
	font: italic normal 17px/17px Georgia, "Times New Roman", Times, serif;
	color: #000;	
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 0px;
}

#profileFeatured{float:right;}
#profileFeatured img{float:left;}

#profileInfo h1 {
	clear:both;
	font: normal normal 36px/36px Georgia, "Times New Roman", Times, serif;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}

#profileInfo h3 {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}

#profileInfo p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
	color: #A3A2A2;
}

#profileStatsBlock {
	width: 455px;
	height: 70px;
	position: absolute;
	left: 450px;
	top: 360px;
	padding: 10px 10px 10px 25px;
	margin: 0px 0px 0px 0px;
	color: #FFFFFF;
	background-color: #000000;
}

#profileStats {
	width: 270px;
	float: left;
}

#profileStats p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #FFFFFF;
	line-height: 22px;
}

#profileButtons {
	width: 143px;
	float: right;
}

#profileButtons a:link, #profileButtons a:visited {
	width: 137px;
	height: 18px;
	display: block;
	background: url(../images/profile/btn_off.gif) no-repeat 0px 0px;
	color: #000;
	text-decoration: none;
	margin-bottom: 4px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 0px 0px 6px;
	text-transform: uppercase;
}

#profileButtons a:active, #profileButtons a:hover {
	background: url(../images/profile/btn_over.gif) no-repeat 0px 0px;
}

#profileTabs {
	width: 940px;
	clear: both;
	margin-top: 0px;
	overflow: hidden;
	padding-bottom: 40px;
	/*background: url(../images/profile/shadow.gif) no-repeat left bottom;*/
}

#profileTabs ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#profileTabs li {
	display: block;
	width: 137px;
	height: 42px;
	float: left;
	margin: 0px 0px 0px 17px;
	padding: 0px 0px 0px 0px;
}

#profileTabs a{
	width: 137px;
	height: 30px;
	display: block;
	background: url(../images/profile/tab_off.gif) no-repeat 0px 0px;
	color: #000;
	text-decoration: none;
	margin-bottom: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 17px;
	padding: 12px 0px 0px 0px;
	text-transform: uppercase;
	text-align: center;
}

#profileTabs a:hover{
	width: 137px;
	height: 30px;
	background: url(../images/profile/tab_over.gif) no-repeat 0px 0px;
}

#profileTabs .active{
	width: 137px;
	height: 30px;
	display: block;
	background: url(../images/profile/tab_over.png) no-repeat 0px 0px;
	color: #000;
	text-decoration: none;
	margin-bottom: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 17px;
	padding: 12px 0px 0px 0px;
	text-transform: uppercase;
	text-align: center;
}

/*#profileTabs a:active {
	background: url(../images/profile/tab_over.gif) no-repeat 0px 0px;
}*/


/*#profileTabs a:hover {
	background: url(../images/profile/tab_over.gif) no-repeat 0px 0px;
}

.profileLit {
		/*background: url(../images/profile/tab_over.gif) no-repeat 0px 0px !important;
}*/	

#mediaTab {
	width: 940px;
	clear: both;
}

#mediaTab #profileFeatured{margin-right:17px; float:right;}
#mediaTab #profileFeatured img{border:none; float:left;}
#mediaTab #profileFeatured{float:right;}

#eventsTab #profileFeatured{margin-right:17px; float:right;}
#eventsTab #profileFeatured img{border:none; float:left;}
#eventsTab #profileFeatured{float:right;}

#projectsTab #profileFeatured{margin-right:17px; float:right;}
#projectsTab #profileFeatured img{border:none; float:left;}
#projectsTab #profileFeatured{float:right;}

#servicesTab #profileFeatured{margin-right:17px; float:right;}
#servicesTab #profileFeatured img{border:none; float:left;}
#servicesTab #profileFeatured{float:right;}

#friendsTab #profileFeatured{margin-right:17px; float:right;}
#friendsTab #profileFeatured img{border:none; float:left;}
#friendsTab #profileFeatured{float:right;}

#promotionsTab #profileFeatured{margin-right:17px; float:right;}
#promotionsTab #profileFeatured img{border:none; float:left;}
#promotionsTab #profileFeatured{float:right;}

.fmedia{width:95px; height:23px; float:left; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; text-transform:uppercase; color:#fff; background:url(../images/profile/featured.png) no-repeat; line-height:25px; padding-left:5px;}
.playall{width:60px; height:23px; float:left; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; text-transform:uppercase; color:#fff; background:url(../images/profile/play-all.png) no-repeat; line-height:25px; padding-left:10px;}
#mediaTab h2, #eventsTab h2, #promotionsTab h2, #servicesTab h2, #friendsTab h2, #projectsTab h2 {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 0px 0px 7px 0px;
	margin: 0px 0px 15px 16px;
	font-style: normal;
	display: block;
	width: 907px;
	border-bottom: 1px solid #DDDDDD;
}
	
#mediaTab h3, #eventsTab h3, #promotionsTab h3, #servicesTab h3, #friendsTab h3, #projectsTab h3 {
	color: #8D8D8D;
	margin: 0px 0px 8px 0px;
	padding: 0px 0px 0px 0px;
	font: 14px geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#mediaTab img, #eventsTab img, #promotionsTab img, #servicesTab img, friendsTab img, #projectsTab img {
	margin-bottom: 4px;
}

.tabItem {
	width: 202px;
	padding: 0px 16px 0px 17px;
	margin: 0px 0px 0px 0px;
	height: 260px;
	float: left;
}

.player img {
	border: 0 !important;
	float:left;
}

.rowItem {
	width: 940px;
	overflow: hidden;
	clear: both;
}

.hiddenBlock1 {
	
}

.hiddenBlock2, .hiddenBlock3, .hiddenBlock4, .hiddenBlock5, .hiddenBlock6 {
	display: none;
}

#actualContent .fieldCont{width:500px; margin-bottom:20px; float:left;}
#actualContent .fieldContainer{float: right;margin-bottom: 20px; position: relative;top: 299px;right:133px;width:52px;}

#actualContent .fieldCont .formTitle{width:200px; margin-bottom:20px; float:left; font-size:14px; color:#000; padding-top:5px;}
#actualContent .fieldCont .fieldTitle{width:115px; float:left; font-size:14px; color:#000; padding:5px 0 0 0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
#actualContent .fieldCont .mailTitle{width:385px; float:left; font-size:14px; color:#000; padding:5px 0 0 0;}
#actualContent .fieldCont .fieldDetail{width:300px; float:left; font-size:14px; color:#666; padding:5px 0 0 0;}
#actualContent .fieldCont .fieldTitle .subtitle{font-size:11px;}
#actualContent .fieldCont .fieldText{width:200px; height:20px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}

#actualContent .fieldCont .dropdown{width:208px; height:30px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}

#actualContent .fieldCont .list{width:365px; /* width:208px */ float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#actualContent .fieldCont .share{width:365px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#actualContent .fieldCont .textbox{width:208px; height:100px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#actualContent .fieldCont .fieldUpload{width:200px; height:20px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#actualContent .fieldCont .chkCont{float:left; margin:0 25px 0 25px; padding-top:5px;}
#actualContent .fieldCont .chkCont .chk{float:left; margin-right:5px;}

#actualContent .fieldCont .chkCont .radioTitle{font-size:12px; color:#000; font-family:Arial, Helvetica, sans-serif;  float:left;}
#actualContent .fieldCont .chkCont .chkTitle{font-size:12px; color:#000; width:500px; font-family:Arial, Helvetica, sans-serif; }
#actualContent .register{float:left; background-color: #000; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 0.825em;   font-weight: bold; padding: 8px 15px; text-decoration: none; margin-right:5px;}
#actualContent .register input[type="button"] {background:none; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 0.825em;   font-weight: bold; text-decoration: none;}

#actualContent .fieldCont input[type="button"] {background:#000; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 0.825em;   font-weight: bold; text-decoration: none;}

.fieldText:focus,.dropdown:focus,.textbox:focus,.list:focus,.loginField:focus,.eventdrop:focus,.urlField:focus
{
	outline: none;
	border: 1px solid darkgray !important;
}

#actualContent p {
	border-top: 1px dotted #999999;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #666;
	margin: 0px 0px 17px 0px;
	padding-top:10px;
}
#actualContent .fieldCont .CCfield{width:50px; height:20px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC; margin-right:10px;}
#actualContent .fieldCont .CCtitle{ height:20px; float:left; padding:5px 3px 3px 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; margin:0 5px 0 10px;}
#actualContent .fieldCont .urlField{width:119px; height:20px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC; margin-right:10px;}
#actualContent .fieldCont .urlTitle{width:80px; height:20px; float:left; padding:5px 0 0 0; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; margin:0 0 0 0;}


#actualContent .profileImage{width:100px; height:100px; float:left;}
#actualContent .status{width:200px; height:20px; padding:3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; float:left}
#actualContent .creditCard{width:200px; height:20px; padding:3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; float:left; margin-left:115px;}
#actualContent .friendCont{width:665px; margin-bottom:20px; float:left;}
#actualContent .friendCont .friendBlk{width:208px; float:left; margin-right:20px;}
#actualContent .friendCont .friendBlk .friendImg{width:101px; float:left; margin-right:9px;}
#actualContent .friendCont .friendBlk .friendImg a{width:100px; height:100px; float:left;}
#actualContent .friendCont .friendBlk .friendImg a:hover{width:100px; height:100px; border:1px solid #000; float:left;}
#actualContent .friendCont .friendBlk .friendDetails{width:98px; float:left; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; line-height: 22px; color: #666;}
#actualContent .friendCont .friendBlk .friendDetails a{font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; color: #666; text-decoration:none;}
#actualContent .friendCont .friendBlk .friendDetails a img{ margin-right:15px; margin-top:10px; float:left;}
#actualContent .friendCont .friendBlk .friendDetails a:hover{color:#000;}
#actualContent .friendCont .friendBlk .friendDetails .name a{font-size:13px; font-weight:bold; line-height:normal; }

#actualContent .friendCont .friendBlkR{width:208px; float:left;}
#actualContent .friendCont .friendBlkR .friendImg{width:100px; float:left; margin-right:10px;}
/*#actualContent .friendCont .friendBlkR .friendImg a{width:100px; height:100px; float:left;}
#actualContent .friendCont .friendBlkR .friendImg a:hover{width:100px; height:100px; border:1px solid #000; float:left;}*/
#actualContent .friendCont .friendBlkR .friendDetails{width:98px;float:left; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; line-height: 22px; color: #666;}
#actualContent .friendCont .friendBlkR .friendDetails a{font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; color: #666; text-decoration:none;}
#actualContent .friendCont .friendBlkR .friendDetails a img{ margin-right:15px; margin-top:10px; float:left;}
#actualContent .friendCont .friendBlkR .friendDetails a:hover{color:#000;}
#actualContent .friendCont .friendBlkR .friendDetails .name a{font-size:13px; font-weight:bold; line-height:normal;}
#actualContent h4 {
	width:500px;
	font-size: 20px;
	margin: 10px 0px 17px 0px;
	float:left;
	clear:both;
}

#mailContent .register{float:left; background-color: #000; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 0.825em;   font-weight: bold; padding: 8px 15px; text-decoration: none; margin-right:5px;}
#mailContent .register input[type="button"] {background:none; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 0.825em;   font-weight: bold; text-decoration: none;}

#mediaContent .topLinks{width:665px; float:left; margin:0 0 10px 0;}
#mediaContent .topLinks .links{float:right;}
#mediaContent .topLinks .links ul{list-style:none; padding:0; float:left; margin-top:5px;}
#mediaContent .topLinks .links ul li{font-size:12px; color:#000; display:inline;}
#mediaContent .topLinks .links ul li a{font-size:12px; color:#000; text-decoration:none; margin-left:3px;}
#mediaContent .topLinks .links ul li a:hover{text-decoration:underline;}
#mediaContent .topLinks .links ul li .button{float:left;}
#mediaContent .topLinks .links .dropdown{width:100px; height:30px; float:left; margin-left: 10px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#mediaContent .topLinks .links .eventdrop{width:150px; height:30px; float:left; margin-left: 10px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}

#mediaContent .topLinks .Llinks{float:left;}
#mediaContent .topLinks .Llinks ul{list-style:none; padding:0; float:left; margin-top:5px;}
#mediaContent .topLinks .Llinks ul li{font-size:12px; color:#000; display:inline;}
#mediaContent .topLinks .Llinks ul li a{font-size:12px; color:#000; text-decoration:none; margin-left:3px;}
#mediaContent .topLinks .Llinks ul li a:hover{text-decoration:underline;}
#mediaContent .topLinks .Llinks ul li.button{float:left; margin-right:10px;}
#mediaContent .topLinks .Llinks .dropdown{width:100px; height:30px; float:left; margin-right: 10px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#mediaContent .topLinks .Llinks .eventdrop{width:150px; height:30px; float:left; margin-right: 10px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}


#mediaContent{width:665px; float:right;}
#mediaContent .contTitle{width:665px; font-family: Georgia, Times, serif; font-size:20px; color:#000; margin-bottom:10px;}
#mediaContent .titleCont{width:660px; background:#e0e0e0; height:30px; float:left; border-bottom:1px dotted #999; padding-left:5px;}
#mediaContent .titleCont .chkbox{width:50px; float:left; padding:8px 0 0 8px; font-size:12px;}
#mediaContent .titleCont .blkA{width:200px; float:left; font-size:12px; color:#000; line-height:31px; margin-left:5px;}
#mediaContent .titleCont .blkB{width:160px; float:left; font-size:12px; color:#000; line-height:31px; }
#mediaContent .titleCont .blkC{width:50px; float:left; font-size:12px; color:#000; line-height:31px;}
#mediaContent .titleCont .blkD{width:60px; float:left; font-size:12px; color:#000; line-height:31px; }
#mediaContent .titleCont .blkE{width:150px; float:left; font-size:12px; color:#000; line-height:31px;}
#mediaContent .titleCont .blkF{width:138px; float:left; font-size:12px; color:#000; line-height:31px;}
#mediaContent .titleCont .blkG{width:80px; float:left; font-size:12px; color:#000; line-height:31px; }
#mediaContent .titleCont .blkH{width:400px; float:left; font-size:12px; color:#000; line-height:31px;}
#mediaContent .titleCont .blkI{width:170px; float:left; font-size:12px; color:#000; line-height:31px;}
#mediaContent .titleCont .blkM{width:200px; float:left; font-size:12px; color:#000; line-height:31px; margin-left:25px;}

#mediaContent .tableCont{width:660px; min-height:30px; float:left; border-bottom:1px dotted #e0e0e0; position:relative; padding-left:5px;}
#mediaContent .tableCont .chkbox{width:50px; float:left; padding:8px 0 0 8px;}
#mediaContent .tableCont .blkA{width:200px; float:left; font-size:12px; color:#000; line-height:29px; margin-left:5px;}
#mediaContent .tableCont .blkM{width:200px; float:left; font-size:12px; color:#000; line-height:29px; margin-left:25px;}
#mediaContent .tableCont .blkB{width:160px; float:left; font-size:12px; color:#000; line-height:29px; }
#mediaContent .tableCont .blkB a{font-size:12px; color:#000; line-height:29px; text-align:center; text-decoration:none;}
#mediaContent .tableCont .blkB a:hover{text-decoration:underline;}
#mediaContent .tableCont .blkC{width:40px; float:left; color:#000; line-height:29px; font-size:12px;}
#mediaContent .tableCont .blkD{width:60px; float:left;font-size:12px; color:#000; line-height:29px;  cursor:pointer;}
#mediaContent .tableCont .blkD a{width:60px; float:left; font-size:12px; color:#000; line-height:29px;  text-decoration:none;}
#mediaContent .tableCont .blkD a:hover{text-decoration:underline;}
#mediaContent .tableCont .blkE{width:150px; float:left; font-size:12px; color:#000; line-height:29px; }
#mediaContent .tableCont .blkF{width:138px; float:left; font-size:12px; color:#000; line-height:29px; }
#mediaContent .tableCont .blkG{width:120px; float:left; font-size:12px; color:#000; line-height:29px; }
#mediaContent .tableCont .blkGF{width:80px; float:left; font-size:12px; color:#000; line-height:29px; }
#mediaContent .tableCont .blkH{width:400px; float:left; font-size:12px; color:#000; line-height:29px; }
#mediaContent .tableCont .blkI{width:170px; float:left; font-size:12px; color:#000; line-height:29px; }
#mediaContent .tableCont .expandable{width:652px; overflow:auto; float:left; display:none; position:relative; height:0px;}
#mediaContent .tableCont .icon{width:25px; float:left; padding-top:5px; font-size:12px; color:#000;}
#mediaContent .tableCont .blkF .dropdown{width:116px; height:25px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#mediaContent .tableCont .blkJ{width:90px; float:left; padding-top:3px; margin-right:5px;}
#mediaContent .tableCont .blkK{width:125px; float:left; font-size:12px; color:#000; line-height:29px; }

#actualContent .fieldCont .radioUp{float:left; margin:0 10px 0 0;}
#actualContent .fieldCont .radioUp .radio{float:left; margin-right:5px;}
#actualContent .fieldCont .radioUp .radioTitle{font-size:10px; color:#000; font-family:Arial, Helvetica, sans-serif; float:left; padding-top:3px;width:102px;}

.affiBlock{width:600px; margin-top:20px; padding-bottom:10px; float:left;}
.affiBlock .RowCont{width:600px; margin-top:5px; clear:both; float:left;}
.affiBlock .RowCont .sideL{width:200px; font-size:14px; color:#000; float:left; line-height:25px;}
.affiBlock .RowCont .sideR{width:400px; font-size:14px; color:#000; float:left; line-height:25px; font-family:geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;}
.affiBlock .RowCont .sideR a{font-size:14px; color:#000; float:left; line-height:25px; font-family:geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; text-decoration:none;}
.affiBlock .RowCont .sideR a:hover{text-decoration:underline;}
.affiBlock .RowCont .sideR .chkCont{float:left; margin:0 25px 0 0;}
.affiBlock .RowCont .sideR .chkCont .chk{float:left; margin-right:5px;}
.affiBlock .RowCont .sideR .chkCont .radioTitle{font-size:12px; color:#000; font-family:Arial, Helvetica, sans-serif; float:left;}
.affiBlock .RowCont .sideR .fieldUpload{width:200px; height:20px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}

#mailContent{width:665px; float:right;}
#mailContent .fieldCont{width:665px; margin-bottom:20px; float:left;}
#mailContent .fieldCont .mailTitle{width:115px; float:left; font-size:14px; color:#000; padding:5px 0 0 0;}
#mailContent .fieldCont .mailcont{width:550px; float:left; font-size:14px; color:#000; padding:5px 0 0 0;}

.hint {
	width:106px; float:left;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 10px;
}

.hint input[type="button"] {background-color: #000; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 0.825em; font-weight: bold; padding: 8px 15px; text-decoration: none;}

.hintnew{
	width:168px; float:right;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;

}

.counts{
	color: #000000;
    font-family: geneva,'Trebuchet MS',Arial,Helvetica,sans-serif;
    font-size: 11px;
    left: 575px;
    position: relative;
    width: 168px;
}

.hintR {
	color:#F00;
}

.CChint { float:left;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight:bold;
	padding:5px 10px 0 0;
}

.hint .button{float:left; margin-right:5px; background-color: #000; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 0.825em; font-weight: bold; padding: 8px 15px; text-decoration: none;}
.acceptHint{float:left; margin-right:5px; clear:both; width:334px; text-align:right;}
.subTabs{float:right;}
.popup{width:209px; height:400px; border:1px solid #777; background:#fff; }
/*** PROFILE DISPLAY POPUP ***/

#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
width:408px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}

#popupContact p{font-size:14px; text-align:center;}

#popupContact h1{
text-align:left;
color:#000;
font-size:22px;
font-weight:700;
padding-bottom:2px;
margin-left:83px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#popupContact h1 a{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
color:#000;
font-size:22px;
font-weight:700;
text-decoration:underline;
}

#popupContact h1 a:hover{
text-decoration:none;
}

#popupContactClose{
font-size:17px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#000;
font-weight:700;
display:block;
font-family:Arial, Helvetica, sans-serif;
}

#popupContact .formCont{width:222px; margin:0 auto;}
#popupContact .formFieldCont{clear:both; width:222px; float:left; margin-top:5px;}
#popupContact .formFieldCont .fieldTitle{ font-size:14px; color:#000; width:70px; height:27px; float:left; line-height:23px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
#popupContact .formFieldCont .textfield{width:150px; height:20px; border:1px solid #999; float:left; background:#fff;}
#popupContact .formFieldCont .login{float:right; cursor:pointer;}

/*** PERSONAL WALL ***/

.storyCont{width:575px; border-top:1px solid #e9e9e9; margin-top:15px; float:left;}
.storyCont .leftSide{width:529px; float:left;}
.storyCont .avatar{float:left; margin:12px 0 0 18px;}
.storyCont .storyContainer{float:left; margin:12px 0 0 10px; width:451px;}
.storyCont .storyContainer .storyTitle{width:451px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#808080;}
.storyCont .storyContainer .storyTitle a{font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-decoration:none;}
.storyCont .storyContainer .storyTitle a:hover{text-decoration:underline;}
.storyCont .storyContainer .storyTitle .userName a{font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:13px; color:#000; font-weight:bold; text-decoration:none;}
.storyCont .storyContainer .storyTitle .userName a:hover{text-decoration:underline;}
.storyCont .storyContainer .activityCont{width:451px; margin:11px 0 0 0;}
.storyCont .storyContainer .activityCont .sideL{float:left; width:90px;}
.storyCont .storyContainer .activityCont .sideL .storyImage{width:90px; margin-bottom:5px;}
.storyCont .storyContainer .activityCont .sideL .player img{border: 0 !important; float:left; cursor:pointer;}
.storyCont .storyContainer .activityCont .sideR{float:right; width:351px;}
.storyCont .storyContainer .activityCont .sideR .activityTitle{width:351px;}
.storyCont .storyContainer .activityCont .sideR .activityTitle a{font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:13px; color:#000; font-weight:bold; text-decoration:none;}
.storyCont .storyContainer .activityCont .sideR .activityTitle a:hover{text-decoration:underline;}
.storyCont .storyContainer .activityCont .sideR .activityContent{width:351px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#808080; margin-top:12px;}

.storyCont .rightSide{width:21px; float:right; margin-right:10px; top:-3px; position:relative;}
.storyCont .rightSide .popUp{width:242px; border:1px solid #777; position:absolute; right:4%; top:80%; background:#fff; visibility: hidden; padding:5px;}
.storyCont .rightSide .popUp ul{width:242px; list-style:none; padding:0;}
.storyCont .rightSide .popUp ul li{width:242px; height:18px; float:left; }
.storyCont .rightSide .popUp ul li a{width:227px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; height:18px; text-decoration:none; float:left; padding-left:15px; line-height:18px;}
.storyCont .rightSide .popUp ul li a:hover{color:#000; background:#ededed;}
.storyCont .rightSide .popUp ul li div.seperator{width:242px; background:#ddd; height:1px; margin:7px 0 7px 0; float:left;}

/**** ADVANCE SEARCH ****/

#searchContent{width:313px; float:left; margin-top:20px;}
#searchContent .fieldCont{width:313px; margin-bottom:20px; float:left;}
#searchContent .buttonCont{float:right; margin-right:20px;}
#searchContent .buttonCont .button{background-color: #000; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 0.825em; font-weight: bold; padding: 6px 10px; text-decoration: none;}
#searchContent .fieldCont .fieldTitle{width:95px; float:left; font-size:12px; color:#000; padding:5px 0 0 0; margin-left:10px;}
#searchContent .fieldCont .fieldText{width:177px; height:20px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#searchContent .fieldCont .dropdown{width:185px; height:30px; float:left; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}

#mediaContent .topLinks .Llinks table[Attributes Style] {
border-top-width: 0;
border-right-width: 0;
border-bottom-width: 0;
border-left-width: 0;
}

#mediaContent .topLinks .Llinks table {
display: table;
border-collapse:collapse;
border-spacing: 0;
border:1px solid #CCCCCC;
}

#homeRightColumn h1{width:478px; float:left; font-size:22px; border-bottom:1px solid #CBCACA; padding-bottom:10px; margin-bottom:20px;}
#homeRightColumn .fieldCont{width:478px; margin-bottom:15px; float:left;}
#homeRightColumn .fieldCont .fieldTitle{width:150px; float:left; font-size:14px; color:#000; padding-top:5px; text-align:left; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;}
#homeRightColumn .fieldCont .fieldTitle .subtitle{font-size:11px;}
#homeRightColumn .fieldCont .fieldText{width:300px; height:20px; float:left; margin-left: 20px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#homeRightColumn .fieldCont .captcha{ float:left; margin-left:10px;}
#homeRightColumn  .fieldCont .chkCont{float:left; margin-left:50px; padding-top:5px;}
#homeRightColumn  .fieldCont .chkCont .chk{width:100px; float:left; margin-right:5px;}
#homeRightColumn  .fieldCont .chkCont .chkTitle{font-size:12px; color:#000; width:500px; font-family:Arial, Helvetica, sans-serif; }
#homeRightColumn .fieldCont .register{ margin-left:5px; background-color: #000;
   border: 0 none;
   color: #FFFFFF;
   float: right;
   font-family: "futura-pt",sans-serif;
   font-size: 0.825em;
   font-weight: bold;
   padding: 8px 15px;
   text-decoration: none;}
#homeRightColumn .fieldCont .regiCont{ float:right;}

#actualContent .regiL{width:327px; float:left; clear:both;}
#actualContent .regiR{width:327px; float:right;}
#actualContent .artistTitle{width:327px; float:left; font-size:18px; margin: 0px 0px 10px 0px; padding: 0px; font-family: Georgia, "Times New Roman", Times, serif;}
#actualContent .artistDetail{width:327px; float:left; font-size:12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #666;}

#actualContent .artistDetail ul{width:290px; list-style:square; float:left; margin-top:10px;}
#actualContent .artistDetail ul li{width:290px; float:left; font-size:13px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #666; margin-bottom:5px;}

/*.regTypeCol {width: 294px; float:left; margin:0 1px 30px 1px;}
.regTypeCol .topText{height:120px;}
.regTypeCol .topText ul {margin:0; padding:0; width: 294px; }
.regTypeCol .topText ul li {color: #666666; font-family: geneva,'Trebuchet MS',Arial,Helvetica,sans-serif;font-size: 13px;font-weight: normal;}

.topText ul li:nth-child(1) {
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	line-height: 36px;
	color: #666;
	background-color: rgba(0,0,0,0.1);
	margin-bottom: 16px;
	list-style-type: none;
} /*header
.topText ul li:nth-child(2) {font-size: 13px; text-align:center;
margin-bottom:16px;list-style-type:none;
width:294px;} /*sentence

.regTypeCol .bulletList ul {margin:0; padding:0;width:190px; margin-left:70px; list-style:none;
}
.regTypeCol .bulletList ul li {color: #666666; font-family: geneva,'Trebuchet MS',Arial,Helvetica,sans-serif;font-size: 13px;font-weight: normal; background-image: url(../images/profile/bulletImage.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 1.2em;}


#selected { margin-top:-10px;}
#selected .topText{height:130px;}

#selected .topText ul li:nth-child(1) {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	line-height: 46px;
	color: #333;
	background-color: rgba(0,0,0,0.2);
	margin-bottom: 16px;
	list-style-type: none;
} /*header
#selected .topText  ul li:nth-child(2) {font-size: 16px; text-align:center;
margin-bottom:19px;list-style-type:none;
width:294px;} /*sentence

 #selected .bulletList ul {padding:0;width:190px; margin-left: 70px; list-style-type: none;
}
 #selected .bulletList ul li {
	color: #666666;
	font-family: geneva,'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	background-image: url();
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 1.2em;
}*/

.regTypeCol {width:219px; float:left;margin:0 1px; margin-bottom:20px;}
.regTypeCol .topText ul {margin:0; padding:0; width: 219px; float:left;}
.regTypeCol .topText ul li {color: #666666; font-family: geneva,'Trebuchet MS',Arial,Helvetica,sans-serif;font-size: 13px;font-weight: normal; float:left;}
.topText ul li:nth-child(1) {width: 219px; font-size: 13px; font-weight: normal; text-align: center;	line-height: 36px; color: #666; background-color: rgba(0,0,0,0.1);	margin-bottom: 16px; list-style-type: none; float:left;} 

/*header*/
.topText ul li:nth-child(2) {font-size: 13px; text-align:center; margin-bottom:16px;list-style-type:none; width:200px; float:left;} 

/*sentence*/
.regTypeCol .bulletList ul {margin:0; padding:0;width:190px; margin-left:20px; z-index:2; float:left;}
.regTypeCol .bulletList ul li {color: #666666; font-family: geneva,'Trebuchet MS',Arial,Helvetica,sans-serif;font-size: 13px;font-weight: normal; float:left; clear:both;}

#selected { margin-top:-10px; }
#selected .topText ul li:nth-child(1) {width: 219px; font-size: 18px;	font-weight: normal; text-align: center;line-height: 46px; 	color: #333; background-color: rgba(0,0,0,0.2); margin-bottom: 16px; list-style-type: none; float:left;} 

/*header*/
#selected .topText  ul li:nth-child(2) {font-size: 16px; text-align:center; margin-bottom:19px;list-style-type:none; width:200px; float:left;} 

/*sentence*/
#selected .bulletList ul {margin:0; padding:0;width:190px; margin-left:4px; list-style-type: none; float:left;}
#selected .bulletList ul li { color: #666666; font-family: geneva,'Trebuchet MS',Arial,Helvetica,sans-serif; font-size: 13px; font-weight: normal; background-image: url(../images/profile/bulletImage.png); background-repeat: no-repeat; background-position: 0 50%; padding-left: 1.2em;  float:left; clear:both;}

#listFiles {width:574px; overflow-y: auto; float: left; margin-bottom:0; height:335px;}

#listFiles .titleCont {width:556px;background: #e0e0e0;height: 30px;float: left; margin-bottom:0;}
#listFiles .titleCont .blkB {width: 245px;float: left;font-size: 14px;color: #000;line-height: 29px;margin-left: 5px;}

#listFiles .titleCont .blkC {width: 70px;float: left;font-size: 14px;color: #000;line-height: 29px;text-align: center;}

#listFiles .titleCont .blkD {width: 70px;float: left;font-size: 14px;color: #000;line-height: 29px;text-align: center;}

#listFiles .titleCont .blkE {width: 70px;float: left;font-size: 12px;color: #000;line-height: 29px;text-align: center;}

#listFiles .titleCont .blkA {width: 50px;float: left;font-size: 14px;color: #000;line-height: 29px;text-align: center;}
#listFiles .titleCont .blkF {width: 91px;float: left;font-size: 14px;color: #000;line-height: 29px;text-align: center;}

#listFiles .tableCont {
min-height: 60px;
float: left;
border-bottom: 1px dotted #ccc;
position: relative;
margin-bottom:0;
}

#listFiles .tableCont .blkB {
width: 245px;
float: left;
font-size: 12px;
color: black;
line-height: 29px;
margin-left: 5px;
margin-bottom:0;
min-height: 60px;
}

#listFiles .tableCont .blkB a{
font-size: 12px;
color: black;
line-height: 29px;
text-decoration:none;}

#listFiles .tableCont .blkB a:hover{text-decoration:underline;}

#listFiles .tableCont .blkB img{float:left; margin:5px 10px 5px 0;}

#listFiles .tableCont .blkC {
width: 70px;
float: left;
font-size: 12px;
color: black;
line-height: 29px;
text-align: center;
margin-bottom:0;
min-height: 60px;
}

#listFiles .tableCont .blkD {
width: 70px;
float: left;
font-size: 12px;
color: black;
line-height: 29px;
height: 29px;
text-align: center;
cursor: pointer;
overflow: hidden;
margin-bottom:0;
min-height: 60px;
}

#listFiles .tableCont .blkD .field{width:57px; margin:5px 5px 0 5px; padding-left:3px;}

#listFiles .tableCont .blkE {
width: 70px;
float: left;
font-size: 12px;
color: black;
line-height: 29px;
height: 29px;
text-align: center;
overflow: hidden;
margin-bottom:0;
min-height: 60px;
}

#listFiles .tableCont .blkA {
width: 50px;
float: left;
font-size: 12px;
color: black;
line-height: 29px;
text-align: center;
margin-bottom:0;
min-height: 60px;}

#listFiles .tableCont .blkF {
font-family:Arial, Helvetica, sans-serif;
width: 92px;
float: left;
font-size: 11px;
color: black;
line-height: 29px;
text-align: center;
margin-bottom:0;
min-height: 60px;
}

#listFiles .tableCont .blkF a{
font-size: 10px;
color: black;
text-decoration:underline;
}

.closeSong {
width: 16px;
height: 16px;
background-image: url('../images/profile/cart-delete.png');
margin: 7px 17px;
}

#totalCont{float:right; margin:0px 0px 0 0;  border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 5px;width:350px;}
#totalCont .subtotal{width:225px;float:left; margin-bottom:10px;}
#totalCont .subtotal .title{float:left; color:#000; font-size:12px; text-align:right;}
#totalCont .subtotal .amount{float:right; color:#000; font-size:12px; }
#totalCont .shopping{float:left; clear:both;}
#totalCont .shopping .button{width:150px; background-color: #000; border: 0 none; color: #FFFFFF; font-family: "futura-pt",sans-serif; font-size: 12px; font-weight: bold; padding: 10px 0; text-decoration: none; cursor:pointer; float:left; margin-right:10px;}
/* mini header
----------------------------------------------- */

.miniHeader input {
	display: block;
	padding:0;
	margin:0;
	/*height:16px;*/
}
.miniHeader {
	width:940px;
	height:41px;
	vertical-align:middle;
	border-bottom: 1px solid #cbcaca;
	border-top: 5px solid #1f1c1d;
	text-align:left;
	margin: 0 auto;
}
.miniHeader p {
	font-size: 0.825em;
	line-height:46px;
	width:90px;
	margin:0 auto;
	display:block;
}
.miniHeader #profilePic {
	border:0;
	margin:0 4px 0 10px;
	display:block;
	padding:0;
	text-align: right;
	float: right;
}
.miniHeader #cartCount {
	width: 100px;
	line-height: 32px;
	display: block;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.miniHeader #miniMenu {
	font-size:10px;
	text-align:right;
	line-height:28px;
	width:80px;
	border-left:1px solid #ccc;
}
#minimenu a img {
	border: none;
	padding:0;
	margin: 0;
}
.miniHeader #userName {
	text-align:left;
	margin:0;
}
.miniHeader #searchBox {
	width:208px;
	margin: 0 auto;
	padding-top: 5px;
}

.miniHeader .dropdown 
{
color: #555;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}

.miniHeader .search {
	top: 12px !important;
}

.submenu
{
background: #fff;
position: absolute;
top: 34px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 3px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a 
{
color: #555555;
display: block;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
a.account 
{
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 101px;
margin: -16px 0 0 0px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
text-align:right;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}
/* dropdown playback
----------------------------------------------- */

.miniHeader .dropdownPlayback 
{
color: #555;
margin: 3px 0 0 0;
min-width: 143px;
max-width: 143px;
position: relative;
min-height: 17px;
max-height:17px;
text-align:left;
}
.dropdownPlayback .submenuPlayback
{
background: #fff;
position: absolute;
top: 34px;
left: -60px;
z-index: 100;
min-width: 220px;
max-width:220px;
display: none;
margin-left: 10px;
padding:6px 0 5px;
border-radius: 3px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdownPlayback li a 
{
color: #555555;
display: block;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdownPlayback li a:hover
{
background:#999;
color: #FFFFFF;
text-decoration: none;
}
.dropdownPlayback a.accountPlayback 
{
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 0;
min-height: 28px;
min-width: 101px;
max-height: 28px;
max-width: 101px;
margin: -16px 0 0 0;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
text-align:left;
}
.dropdownPlayback .rootPlayback
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
/*padding: 11px 0 0 0px;
border-top:1px solid #dedede;*/
}

/* dropdown cart
----------------------------------------------- */

.miniHeader .dropdownCart 
{
	color: #555;
	padding:0;
	margin: 3px 0 0 0;
	min-width: 80px;
	max-width: 80px;
	position: relative;
	min-height: 32px;
	max-height:32px;
	text-align:center;
}
.dropdownCart .submenuCart
{
background: #fff;
position: absolute;
top: 34px;
left: -18px;
z-index: 100;
min-width: 120px;
max-width: 120px;
display: none;
margin-left: 10px;
padding: 6px 0 5px;
border-radius: 3px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdownCart li a 
{
color: #555555;
display: block;
font-weight: 700;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdownCart li a:hover
{
background:#999;
color: #FFFFFF;
text-decoration: none;
}
.dropdownCart a.accountCart 
{
	font-size: 11px;
	color: #555;

	z-index: 110;
	display: block;
	padding: 0;
	min-height: 32px;
	min-width: 80px;
	max-height: 32px;
	max-width: 80px;
	margin: 0;
	text-decoration: none;
	background: url(icons/arrow.png) 116px 17px no-repeat;
	cursor:pointer;
	text-align:center;
}
.accountCart #cartCount {margin:0; padding:0; height:32px;}
.dropdownCart .rootCart
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
/*padding: 11px 0 0 0px;
border-top:1px solid #dedede;*/
}

/* dropdown settings
----------------------------------------------- */

.miniHeader .dropdownSettings 
{
	color: #555;
	margin: 3px 0 0 0;
	min-width: 50px;
	max-width: 50px;
	position: relative;
	min-height: 17px;
	max-height: 17px;
	text-align:center;
}
.dropdownSettings .submenuSettings
{
background: #fff;
position: absolute;
top: 34px;
left: 0px;
z-index: 100;
miin-width: 220px;
max-width:220px;
display: none;
margin-left: -30px;
padding: 6px 0 5px;
border-radius: 3px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdownSettings li a 
{
color: #555555;
display: block;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdownSettings li a:hover
{
background:#999;
color: #FFFFFF;
text-decoration: none;
}
.dropdownSettings a.accountSettings 
{
	font-size: 11px;
	line-height: 16px;
	color: #555;
	position: absolute;
	z-index: 110;
	display: block;
	padding: 0;
	min-height: 28px;
	min-width: 50px;
	max-height: 28px;
	max-width: 50px;
	margin: -6px 0 0 0;
	text-decoration: none;/* dropdown settings
----------------------------------------------- */
	background: url(icons/arrow.png) 116px 17px no-repeat;
	cursor:pointer;
	text-align:right;
}
.dropdownSettings .rootSettings
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
}

/* dropdown settings
----------------------------------------------- */

#miniFooter {
	width: 940px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 20px;
}

#miniFooter ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#miniFooter li {
	margin: 0;
	padding: 5px 20px 5px 20px;
	list-style: none;
	display: inline;
	text-align: center;
}