/*** PROFILE DISPLAY POPUP ***/

#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
width:70%;
left:10%;
right:10%;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
overflow:auto;
height:90%;
}

#popupContact p{font-size:14px; text-align:center; margin:5px;}

#popupContact h1{
text-align:left;
color:#000;
font-size:22px;
font-weight:700;
padding-bottom:2px;
margin-left:83px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#popupContact h1 a{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
color:#000;
font-size:22px;
font-weight:700;
text-decoration:underline;
}

#popupContact h1 a:hover{
text-decoration:none;
}

#popupContactClose{
font-size:17px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#000;
font-weight:700;
display:block;
font-family:Arial, Helvetica, sans-serif;
cursor:pointer;
}

#popupContact .formCont{width:222px; margin:0 auto;}
#popupContact .formFieldCont{clear:both; width:222px; float:left; margin-top:5px;}
#popupContact .formFieldCont .fieldTitle{ font-size:14px; color:#000; width:70px; height:27px; float:left; line-height:23px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
#popupContact .formFieldCont .textfield{width:150px; height:20px; border:1px solid #999; float:left; background:#fff;}
#popupContact .formFieldCont .login{float:right; cursor:pointer;}