.box1 {
 background-color:#E6E6E6;
 font-size: 11px;
 font-family:geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	margin-left: 5px;
	padding-top: 5px;
 width: 158px;
 font-weight: normal;
 color: #000000;
 border: thin solid #D6D6D6;
 float:right;
}
.box1A {
	background-color:#EDEDED;
	font-family:geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	color:#000000;
	padding-bottom: 5px;
	padding-left: 5px;
}
.box1B {
	background-color:#FFF;
	font-family:geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 5px 5px 10px 5px;
	padding-top: 5px;
	color:#000000;
	padding-bottom: 5px;
	padding-left: 5px;
}
