a:active {
	color:#FF0000;
}

body {
	margin: 0px 15px;
	bgcolor: #FFFFFF;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
	margin: 0px;
}

img {
	border: 0;
	float: inherit;
}

form {
	margin: 0px;
	padding: 0px;
}

#outerContainer {
	width: 940px;
	margin: 0 auto;
	background: #FFFFFF;
	overflow: hidden;
}

#purifyMasthead {
	width: 940px;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
	border-top: 5px solid #1f1c1d;
	height: 60px;
}

#purifyLogo {
	float: left;
	border: 0;
}

#toplevelNav {
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #cbcaca;
	background-color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 13px;
}

#toplevelNav ul {
	margin: 0px;
	padding: 0px;
}

#toplevelNav ul li {
	display: inline;
	margin: 0px 12px 0px 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#toplevelNav ul li a {
	color: #1F1C1D;
}

#toplevelNav ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

.active {
	color: #cacaca !important;
}

#miscNav {
	width: 520px;
	float: right;
	text-align: right;
	position: relative;
}

#addTSContainer{
	padding: 5px;
	margin-top: 10px;
	width: 650px;
	float: left;
	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;		
}

#removeTSContainer{
	padding: 5px;
	margin-top: 10px;
	width: 650px;
	float: left;
	background-color:#D6D6D6;
	border: 1px solid #CCCCCC;		
}

#addTypeContainer{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	padding:10px;
	width: 290px;
	float: left;
	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;		
}

#addSubTypeContainer{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	padding:10px;
	width: 290px;
	float: right;
	background-color:#FFFFFF;	
	border: 1px solid #CCCCCC;		
}

#typeSubtypeContainer{
	margin:2px;
	padding:2px;
	width: 210px;
	float: left;
	background-color:#EDEDED;
	border: 1px solid #CCCCCC;	
}

#addTypeTitle{
	margin-top: 5px;
	margin-left:5px;
	margin-right:5px;	
	width: 310px;
	float: left;
	text-align: center;
	background-color:#777777;
	border: 1px solid #CCCCCC;		
}

#addSubTypeTitle{
	margin-top: 5px;
	margin-left:5px;
	margin-right:5px;	
	width: 310px;
	float: right;
	text-align: center;
	background-color:#777777;
	border: 1px solid #CCCCCC;		
}

#typeTitle{
	padding:2px;
	width: 204px;
	float: left;
	text-align: center;
	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;	
}

#subTypeTitle{
	padding-top: 10px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	width: 204px;
	float: left;
	text-align: left;
	border: 1px solid #CCCCCC;		
}

#searchContainer{
	margin:0px;
	width: 450px;
	float: right;
	text-align:right;
}

#dummytextfilled {
	width: 130px;
	height: 20px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

/*----------------------ADMIN USER------------------------------*/

#topBox {
	width: 100%;
	float:left;
	margin-top:5px;
}

#labelBox {
	width:10%;
	height:14px;
	float:right;
	text-align:center;
}

#idBox {
	width: 88%;
	float:left;
}

#idnameBox {
	width:35%;
	padding-left:5px;
	float:left;
	text-align:left;
}

#statusBox {
	width:60%;
	text-align:right;
    float:right;
}

#userBox {
	width:100%;
	float:left;
	background-color:#ECECEC;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-style:solid;
	border-top-width:1px;
}

#userBoxLeft {
	width:61%;
	float:left;
}

#userBoxRight {
	width:38%;
	float:right;
}

#namerefBox {
	margin-top: 2px;
	width: 100%;
	float:left;
}

#nameBox {
	width: 55%;
	float:left;
	background-color:#777777;
	padding: 2px;
	padding-left: 5px;	
}

#refBox {
	width: 41%;
	float:right;
	background-color:#C0C0C0;
	padding: 2px;
	padding-left: 5px;	
}

#typeBox {
	margin-top: 2px;
	width: 98%;
	float:right;
	padding: 2px;
	padding-left: 5px;
	background-color:#ECECEC;
	border-bottom: 1px dotted #CCCCCC;
}

#categoryBox {
	margin-top: 2px;
	width: 98%;
	float:right;
	padding: 2px;
	padding-left: 5px;
	background-color:#ECECEC;
	border-bottom: 1px dotted #CCCCCC;	
}

#descBox {
	margin-top: 2px;
	width: 98%;
	float:right;
	padding: 2px;
	padding-left: 5px;
	background-color:#ECECEC;
	border-bottom: 1px dotted #CCCCCC;	
}

#subscriptionBox {
	margin-top: 2px;
	width: 98%;
	float:right;
	padding: 2px;
	padding-left: 5px;
	background-color:#ECECEC;
	border-bottom: 1px dotted #CCCCCC;
}

#uploadBox {
	margin-top: 2px;
	width: 99%;
	float:left;
	padding: 2px;
	padding-left: 5px;
	background-color:#ECECEC;
}

#homepageBox {
	margin-top: 2px;
	width: 99%;
	float:left;
	padding: 2px;
	padding-left: 5px;
	background-color:#ECECEC;
	border-bottom: 1px dotted #CCCCCC;
}

#dateBox {
	width: 100%;
	float:left;
	border-bottom: 1px dotted #CCCCCC;
}

#createdateBox {
	width: 48%;
	padding-left:5px;
	text-align:left;
	float:left;
}

#updatedateBox {
	width: 48%;
	padding-right:5px;
	text-align:right;
	float:right;
}

#buttonBox {
	width: 100%;
	float:left;
	margin-bottom:10px;
	padding-right: 10px;
}

#operationBox {
	width: 10%;
	float:right;
	padding: 2px;
}

/*--------------------------------------------------------------*/

.hintText {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;
}

.hintText2 {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
}

.hintText3 {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
	font-weight:bold;
}

.hintGray {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#777777;
}

.hintName {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}

/*--------------------------------------------------------------*/


/* login
----------------------------------------------- */

#loginBox {
	position: absolute;
	width: 420px;
	left: 120px;
	top: -5px;
	font-size: 11px;
	text-align: left;
	/*background-color: #00FF00;*/
}

.loginField {
	width: 125px;
	margin: 0px;
	padding: 1px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

#loggedin {
	position: absolute;
	width: 350px;
	height: 50px;
	left: 100px;
	top: 5px;
	font-size: 11px;
	text-align: right;
	padding-right: 70px;
	background: url(../images/mini_pic.gif) no-repeat right top;
}

#loggedin h2 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 4px 0px;
	line-height: normal;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#loggedin p {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	line-height: normal;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#confirmBox {
	position: absolute;
	padding: 10px;
	width: 300px;
	height: 100px;
	left: 7px;
	top: 7px;
	text-align: center;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

#pageBox {
	width: 100px;
	height: 10px;
	float:left;
	text-align: left;
	font-size: 11px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #626262;
}

#pageNoBox {
	width: 150px;
	height: 32px;
	float:right;
	text-align: right;
	font-size: 11px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #626262;
}
/* misc nav
----------------------------------------------- */

#miscNav ul {
	margin: 0px;
	padding: 0px;
}

#miscNav ul li {
	margin: 0px;
	list-style: none;
}

#miscNav ul li a {
	color: #1F1C1D;
}

#miscNav ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

/* content
----------------------------------------------- */

#contentContainer {
	width: 940px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}

/* subnavigation
----------------------------------------------- */

#subNavigation {
	width: 185px;
	padding: 25px;
	margin-right: 40px;
	float: left;
	background-color: #EDEDED;
}

#subNavigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#subNavigation ul li {
	font-size: 14px;
	margin-top: 4px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}

#subNavigation ul li a {
	color: #000000;
}

#subNavigation ul li a:hover {
	color: #7f7f7f;
	text-decoration: none;
}

#subNavigation2 {
	width: 155px;
	padding-left:25px;
	float: left;
	background-color: #EDEDED;
}

#subNavigation2 ul li {
	font-size: 12px;
	margin-top: 4px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #626262;
}

#actualContent {
	width: 665px;
	float: right;
}

#sectionTitle {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 23px;
	text-transform: capitalize;
	color: #000000;
	margin-bottom: 12px;
	margin-top: -3px;
	padding-bottom: 12px;
}

/* front page
----------------------------------------------- */

#frontPage {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
}

#homeRightColumn {
	width: 570px;
	float: right;
}

#homeLeftColumn {
	width: 350px;
	float: left;
}

.clearMe {
	clear: both;
}

#homeQuote {
	background-color: #ededed;
	padding: 20px;
}

#homeQuote h2 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

#homeQuote h3 {
	font-size: 14px;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#homeQuote p {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #000000;
}

#front_page_news {
	background-color: #ededed;
	padding: 20px 20px 5px 20px;
	margin-top: 20px;
}

#front_page_news h2 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

#front_page_news h3 {
	line-height: normal;
	font-size: 14px;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#front_page_news h4 {
	line-height: normal;
	font-size: 9px;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#front_page_news p {
	font-size: 11px;
	margin: 0px 0px 15px;
	padding: 0px;
	color: #626262;
	line-height: 17px;
}

#promoBox {
	margin-bottom: 20px;
}

#featureHead {
	margin-bottom: 10px;
}

#area-separator {
	width:100%;
	float:left;	
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
	border-bottom: 1px #C5C5C5 solid;
}

#quote-box {
	width:100%;
	float:left;

}

#quote-line {
	width:100%;
	float:left;	
	text-align:left;
	margin-bottom:5px;
}

#quote-buttons {
	width:10%;
	float:right;	
	text-align:right;
	margin-bottom:5px;
}

#quote-separator {
	width:100%;
	width:100%;
	float:left;	
	text-align:center;
	margin-bottom:10px;
	border-top: 1px #C5C5C5 dashed;
}


/* featured
----------------------------------------------- */

#featuredHeads h1 {
	border-bottom: 1px solid #cbcaca;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-bottom: 12px;
}

.featuredItemStack {
	width: 570px;
	clear: both;
}

.featuredItemStackMid {
	width: 665px;
	clear: both;
}

.featuredItem {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
}


.featuredItemLeft {
	width: 270px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: left;
}

.featuredItemRight {
	width: 270px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: right;
}

.featuredItemLeftMid {
	width: 310px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: left;
}

.featuredItemRightMid {
	width: 310px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	float: right;
}

.featuredContent {
	width: 140px;
	float: left;
}

.featuredContentMid {
	width: 190px;
	float: left;
}

.featuredContentWide {
	width: 540px;
	float: left;
}

.featuredContentWideLeft {
	width: 140px;
	float: left;
}

.featuredContentExtraWideLeft {
	width: 740px;
	float: left;
}

.featuredContentWideRight {
	width: 380px;
	float: right;
}

.featuredPhoto {
	float: right;
}

.featuredButton {
	float: right;
	vertical-align:baseline;
}

.featuredPhoto img {
	border: 1px solid #cbcaca;
}

.featuredContent h2, .featuredContentWide h2, .featuredContentMid h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #000000;
	margin-bottom: 2px;
	margin-top: 0px;
	padding: 0px;
}

.featuredContent h3, .featuredContentWide h3, .featuredContentMid h3 {
	font-size: 18px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.featuredContent p, .featuredContentWide p, .featuredContentMid p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #A3A2A2;
	margin: 0px 0px 0px 0px;
	text-align: left;
}


/* base
----------------------------------------------- */

blockquote {
	margin-right: 0;
	margin-left: 20px;
}

h1, h2, h3 {
	font-weight: normal;
}

h1, h2 {
	font-family: Georgia, Times, serif;
}

h1 {
	font-size: 28px;
	margin: 0px;
	padding: 0px 0px 20px 0px;
}

h2 {
	font-size: 20px;
	font-style: italic;
}

h3 {
	font-size: 20px;
	margin: 0px;
	padding: 0px 0px 17px 0px;
}

.withLine {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #cbcaca;
}

h4 {
	font-size: 18px;
	line-height: 22px;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	color: #000000;
	font-weight: normal;
	font-family: Georgia, Times, serif;
}

h5 {
	font-size: 14px;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

p {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px 0px 17px 0px;
}

ul {
	margin: 0px;
	padding: 0px 0px 10px 12px;
}

li {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px;
	padding: 0px;
}

b {
	color: #000000;
}

#biglist ul {
	margin: 0px;
	padding: 0px 0px 17px 25px;
	color: #000000;
}

#biglist li {
	font-size: 16px;
	line-height: 22px;
	color: #A3A2A2;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* form fields
----------------------------------------------- */

.regularField {
	width: 400px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

.regularField2 {
	width: 130px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1px solid #CCCCCC;
}

.pulldownField {
	width: 400px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}

.pulldownField2 {
	width: 140px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}

.pulldownField3 {
	width: 130px;
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: #000000;
}

.hint {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 10px;
}

.hintGreen {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	padding-left: 10px;
}

.hintRed {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	padding-left: 10px;
}

.hintBig {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #777777;
	font-weight:bold;
	padding-left: 10px;
}

.hintLeftLine {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 10px;
	border-left-style:dotted;
	border-left-width:thin;
	border-left-color:#4D4D4D;
}

.hintRightLine {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 10px;
	border-right-style:dotted;
	border-right-width:thin;
	border-right-color:#4D4D4D;	
}

.hintBgWhite {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 10px;
	background-color:#FFFFFF;
	border-right-style:dotted;
	border-right-width:thin;
}

.hintWhite {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	padding-left: 10px;
}

.hintTitle {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:bold;
	color: #FFFFFF;
}

.hintConfirmBox{
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:center;
	color: #000000;
	padding-left: 10px;	
}
.tableBg {
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	border-bottom-style:solid;
	border-bottom-width:thin;
}

/* links
----------------------------------------------- */

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

/* next/back
----------------------------------------------- */

.nextBack {
	padding-top: 10px;
	text-align: center;
}

.nextBack a, .nextBack a:link {
padding: 6px 15px 6px 15px;
color: #2d2d2f;
width: 100px;
text-align: left;
font-size: 13px;
background-color: #cbcaca;
border: none !important;
margin-bottom: 15px !important;
margin-right: 15px;
font-weight: bold;
}

.nextBack a:hover {
color: #FFF;
background-color: #000;
border: none !important;
text-decoration: none;
}

/* footer
----------------------------------------------- */

#preFoot {
	width: 920px;
	margin: 0 auto;
	height: 20px;
}

#footer {
	width: 920px;
	padding: 10px;
	clear: both;
	margin: 0 auto;
	font-size: 11px;
	font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	text-align: center;
	border-top: 1px solid #cbcaca;
	border-bottom: 1px solid #cbcaca;
	margin-bottom: 20px;
}#homemission {

	background-color: #ededed;
	padding: 20px;
}

#actualContent .regi-form{margin-bottom:10px;}
#actualContent .fieldCont{width:652px; margin-bottom:20px; float:left;}
#actualContent .fieldCont .fieldTitle{width:220px; float:left; font-size:14px; color:#000; padding-top:5px;}
#actualContent .fieldCont .fieldTitle .subtitle{font-size:11px;}
#actualContent .fieldCont .fieldText{width:300px; height:20px; float:left; margin-left: 20px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#actualContent .fieldCont .dropdown{width:300px; height:30px; float:left; margin-left: 20px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#actualContent .fieldCont .chkCont{width:100px; float:left; margin-left:20px; padding-top:5px;}
#actualContent .fieldCont .chkCont .chk{float:left; margin-right:5px;}
#actualContent .fieldCont .chkCont .chkTitle{font-size:14px; color:#000; }
#actualContent .register{float:right; margin-right:100px;}

.manageCont{width:652px;}
.manageCont .contTitle{width:652px; font-family: Georgia, Times, serif; font-size:20px; color:#000; margin-bottom:10px;}
.manageCont .titleCont{width:652px; background:#e0e0e0; height:30px; float:left;}
.manageCont .titleCont .blkA{width:200px; float:left; font-size:14px; color:#000; line-height:29px; margin-left:5px;}
.manageCont .titleCont .blkB{width:200px; float:left; font-size:14px; color:#000; line-height:29px; text-align:center;}
.manageCont .titleCont .blkC{width:50px; float:left; font-size:14px; color:#000; line-height:29px;}
.manageCont .titleCont .blkD{width:95px; float:left; font-size:14px; color:#000; line-height:29px; text-align:center;}
.manageCont .titleCont .blkE{width:150px; float:left; font-size:12px; color:#000; line-height:29px;text-align:center;}
.manageCont .titleCont .blkF{width:138px; float:left; font-size:12px; color:#000; line-height:29px;text-align:center;}
.manageCont .titleCont .blkG{width:80px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}


.manageCont .tableCont{width:652px; height:30px; float:left; border-bottom:1px dotted #e0e0e0;}
.manageCont .tableCont .blkA{width:200px; float:left; font-size:12px; color:#000; line-height:29px; margin-left:5px;}
.manageCont .tableCont .blkB{width:200px; float:left; font-size:12px; color:#000; line-height:29px;}
.manageCont .tableCont .blkC{width:40px; float:left; color:#000; line-height:29px; padding:5px 0 0 10px;}
.manageCont .tableCont .blkD{width:95px; float:left;text-align:center;}
.manageCont .tableCont .blkD a{width:95px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center; text-decoration:none;}
.manageCont .tableCont .blkD a:hover{text-decoration:underline;}
.manageCont .tableCont .blkE{width:150px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}
.manageCont .tableCont .blkF{width:138px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}
.manageCont .tableCont .blkG{width:80px; float:left; font-size:12px; color:#000; line-height:29px; text-align:center;}


#homeRightColumn h1{width:478px; float:right; font-size:22px; border-bottom:1px dotted #999; padding-bottom:10px; margin-bottom:20px;}
#homeRightColumn .fieldCont{width:478px; margin-bottom:10px; float:right;}
#homeRightColumn .fieldCont .fieldTitle{width:150px; float:left; font-size:14px; color:#000; padding-top:5px; text-align:right;}
#homeRightColumn .fieldCont .fieldTitle .subtitle{font-size:11px;}
#homeRightColumn .fieldCont .fieldText{width:300px; height:20px; float:left; margin-left: 20px; padding: 3px; font-size: 12px; font-family: geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #000000; border: 1px solid #CCCCCC;}
#homeRightColumn .fieldCont .captcha{ float:left; margin-left:10px;}
#homeRightColumn .fieldCont .chk{float:left; margin-right:10px;}
#homeRightColumn .register{float:right; margin-right:100px;}

/* Manage Affi
----------------------------------------------- */

.manageCont{width:652px; margin:20px 0 10px 0; float:left;}
.manageCont .topLinks{width:652px; border-bottom:1px dotted #999; float:left; margin:0;}
.manageCont .topLinks .links{float:right;}
.manageCont .topLinks .links ul{list-style:none; padding:0;}
.manageCont .topLinks .links ul li{font-size:12px; color:#000; display:inline;}
.manageCont .topLinks .links ul li a{font-size:12px; color:#000; text-decoration:none; margin-left:3px;}
.manageCont .topLinks .links ul li a:hover{text-decoration:underline;}

.affiBlock{width:652px; margin-top:20px; padding-bottom:10px; border-bottom:1px dotted #999; float:left;}
.affiBlock .RowCont{width:652px; margin-top:5px;}
.affiBlock .RowCont .sideL{width:200px; font-size:14px; color:#000; float:left; line-height:25px;}
.affiBlock .RowCont .sideR{width:452px; font-size:14px; color:#000; float:left; line-height:25px; font-family:geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;}
.affiBlock .usage{width:652px; float:left; margin:20px 0 0 0; }
.affiBlock .usage .title{font-size:18px; color:#000; margin:0;}
.affiBlock .usage .usageRow{width:410px;margin-top:10px;}
.affiBlock .usage .usageRow .sideL{width:300px; font-size:14px; color:#000; float:left; line-height:25px;}
.affiBlock .usage .usageRow .sideR{width:110px; font-size:14px; color:#000; float:left; line-height:25px; font-family:geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif;}

.affiBlock .status{width:652px; background:#f9f9f9; margin-bottom:10px; float:left;}
.affiBlock .status .chk{float:left; margin:5px 0 0 0; height:20px;}
.affiBlock .status .details{float:right; margin:0;}
.affiBlock .status .details .current{width:20px; float:left; margin:4px 10px 0 0;}
.affiBlock .status .details .delete{float:right; margin:0; margin-top:3px; width:100px;}
.affiBlock .status .details .delete a{font-size:12px; color:#000; line-height:25px; font-family:geneva, 'Trebuchet MS', Arial, Helvetica, sans-serif; text-decoration:none; margin:0;}

/*----------------------------------------------- */